[2012-08-20 18:43] khazanovsky opened #1 "Need to seed random to create unique INBOXes"
Go by default seeds random as Seed(1). Need to seed it using unique seed to use rand() when creating INBOXes.

Additionally, it may be a good idea to embed IP and PID into INBOX to ensure uniqueness and not rely on randoms only.

[2012-08-21 12:48] derekcollison opened #2 "Reconnect Logic"
The client should be able to auto-reconnect similar to the ruby client with options that can suppress the behavior and dictate how long between attempts and how many attempts total before giving up.

[2012-08-21 12:49] derekcollison opened #3 "TLS/SSL Support"
Client should support secure communications to the server.

[2012-08-21 12:50] derekcollison opened #4 "Asynchronous Error Reporting"
Client should support an error callback for asynchronous error reporting in addition to LastError()

[2012-08-22 21:47] #1 closed, assigned to derekcollison

[2012-08-23 20:47] #4 closed, assigned to derekcollison

[2012-08-27 03:51] derekcollison opened #5 "Proper Locking"
Current locking scheme protects writes to the socket and buffer but does not protect subscription and other state in case they are changed in multiple Go routines (subscribe, flush, etc).

[2012-08-27 19:55] derekcollison opened #6 "QueueRequest"
Need QueueRequest semantics.

[2012-08-27 21:41] #6 closed, assigned to derekcollison

[2012-09-03 23:13] #3 closed, assigned to derekcollison

[2012-09-03 23:14] #5 closed, assigned to derekcollison

[2012-10-09 18:49] khazanovsky opened #9 "Anonymous sync.Mutex in Conn structure"
The Conn structure uses anonymous sync.Mutex so Conn.Lock() is exposed, can see in godoc. Should not be exposed if it should be used only by the internal implementation but not by the user application.

[2012-10-09 21:02] #9 closed, assigned to derekcollison

[2012-10-10 15:23] #2 closed, assigned to derekcollison

[2012-10-11 14:11] derekcollison opened #10 "All async subscribers share Go routine"
All async subscribers share a single Go routine for callbacks, making it fairly easy to starve the msg delivery if you are inside a callback waiting for another callback. They should probably be bound to a Subscription.

[2012-10-11 16:40] #10 closed, assigned to derekcollison

[2012-11-11 05:24] drnic opened #11 "Rename to nats-client-go"
Just a thought: if the repo only has a client in it, perhaps include that in the project name. If it is a go client, perhaps include that in the project name.

Or are you also rewriting the nats server in Go? Going to make it distributed?

[2013-02-06 01:10] derekcollison opened #14 "Client should handle server PINGS"
Current new parser not handling PING proto.

[2013-02-06 05:57] #14 closed, assigned to derekcollison

[2013-11-21 18:00] #11 closed, assigned to nobody

[2013-11-21 18:01] derekcollison opened #18 "Client deadlock on reconnect"
There is a client deadlock when a reconnect obtains a connection but suffers a readOp error.

[2013-11-22 21:11] #18 closed, assigned to derekcollison

[2014-02-22 21:02] derekcollison opened #19 "AutoUnsubscribe does not properly unsubscribe on client."
AutoUnsubscribe does the proper pruning of interest on the server side but does not properly unsubscribe on the client side, leading to leaked subscriptions unless Unsubscribe is properly called.

/cc @olegshaldybin @krobertson

[2014-05-29 19:30] derekcollison opened #20 "Queue-Subscribers fail after server restart"
Queue subscribers become normal subscribers after a server restart and reconnect.

[2014-05-29 19:52] #20 closed, assigned to nobody

[2014-05-29 19:54] #19 closed, assigned to derekcollison

[2014-06-16 12:22] hsinhoyeh opened #21 "make nats.Conn as an interface"
[ actually it is not an issue, more like a new feature ]

The current design is very clean, I can easy trace it.
However, I have such requirement that I want to use my own nats.Conn in the EncodedConn.
But the current implementation forbids me to do this,
In specifically, nats.Conn is implemented by a well-defined structure.

[code]

and an EncodedConn is based on that Conn and provides an encodin

[2014-06-16 17:41] #21 closed, assigned to nobody

[2014-07-25 16:45] hsinhoyeh opened #22 "goroutine leaking when calls BindRecvChan"
in netchan.go, the caller can pass a channel which reads data back via Subscribe on a topic.
https://github.com/apcera/nats/blob/master/netchan.go#L54

[code]

in the underlying implementation, nats defines a callback (i.e. cb) and then call the Subscribe from a conn
https://github.com/apcera/nats/blob/master/netchan.go#L81

[code]

in the conn.subscribe, nats spawns a go routine to send the messa

[2014-07-25 19:10] #22 closed, assigned to derekcollison

[2014-07-26 13:38] hsinhoyeh opened #25 "the subscribe cannot receive more than one message"
Note that this issue is related to #22

the commit ( https://github.com/apcera/nats/commit/c0bed1344dedaa8ab08ed279f449391aba8cedbb) actually solve the go routine leak problem, but we have another problem now:
we cannot receive more than one message using "BindRecvChan"
I also found that in https://github.com/apcera/nats/commit/c0bed1344dedaa8ab08ed279f449391aba8cedbb#diff-386dae9aaed25b55f29b68c9

[2014-09-16 14:11] qinguoan opened #29 "reconnet problem and fix"
First of all,  sorry for my English, I am not a English speaker..

This bug will happen when client try to reconnect to a new server, I have 20 clients to connect to 3 gnatsd servers, when I switch gnatsd service in 3 servers (kill and start which clients connected to ) client connections become less and less....

reconnect will do
1. run readLoop, this function will check health of connection bet

[2014-10-11 19:34] fraenkel opened #30 "Order or lack thereof of callbacks"
It seems a bit weird that in most cases I will see a ClosedCB and maybe a ReconnectedCB before the DisconnectedCB.  Because DCB is async, there is no order guarantee and it makes it difficult to actually do anything when you do see it since you cannot easily determine a reliable sequencing between the various callbacks.

[2014-10-11 19:38] fraenkel opened #31 "Close on Stale Connection"
Currently all errors are treated as hard closes for the client.  I can see where it makes sense for most of the failures, e.g., Authn/Authz.  However, for something like Stale Connection it seems a bit extreme.  I was wondering if it would be ok to reconnect on a Stale Connection.

[2014-10-24 02:06] fraenkel opened #34 "Client is stuck in the readLoop"
Looks like we might need to set a read deadline in the client.  All we know is that this client is dead to NATs but its not budging off the read.

goroutine 55 [IO wait, 317 minutes]:
net.runtime_pollWait(0x7f4827bc75f8, 0x72, 0x0)
    /usr/local/go/src/pkg/runtime/netpoll.goc:146 +0x66
net.(_pollDesc).Wait(0xc208085100, 0x72, 0x0, 0x0)
    /usr/local/go/src/pkg/net/fd_poll_runtime.go:84 +0x46
net

[2014-10-31 03:27] #29 closed, assigned to nobody

[2014-10-31 03:28] #25 closed, assigned to nobody

[2014-10-31 03:52] derekcollison opened #35 "Limit total reconnect limits."
Should we by default limit the number of reconnects you are allowed to do succesfully?

[2014-11-02 16:29] #31 closed, assigned to nobody

[2014-11-02 16:52] fraenkel opened #38 "Callbacks are triggered when satisfied but not guaranteed to still be true"
Both the reconnected and disconnected callbacks are invoked outside the Connection lock.  By doing so, the state of the connection may be different when actually invoked.  In most cases, the connection has been closed which leads to no harm.  However, in the case of the reconnect, another reconnect can occur since the socketwatchers have been spun up already.

[2014-11-10 00:57] fraenkel opened #40 "Reconnect has potential race conditions"
When a Reconnect ocurrs, relying on state works for the one routine managing the state, but there are other active goroutines which may not see the state changes and will continue to operate under the wrong conditions.

doReconnect() calls createConn() which will establish a new connection (nc.conn) and buffered writer (nc.bw).  readLoop could be line 868 waiting for the lock and grab the new conn

[2014-12-01 02:22] #35 closed, assigned to derekcollison

[2014-12-01 02:23] #34 closed, assigned to nobody

[2015-01-16 20:20] derekcollison opened #46 "Allow control over channel size for async subscribers"
Detailed here: https://github.com/apcera/nats/pull/42

[2015-01-16 20:22] derekcollison opened #47 "Subscribers for Requests are inefficient"
PR for channel length of 1 is here: https://github.com/apcera/nats/pull/43

[2015-02-01 00:56] derekcollison commented on #47
This fixes #43, don't use 1 but use const of 4 for now.

[2015-02-01 00:56] #47 closed

[2015-02-01 00:57] #46 closed

[2015-02-01 01:09] #40 closed

[2015-02-01 03:53] rbucker opened #48 "Subscribe("foo", nil) inconsistency between Conn and EncodedConn"
EncodedConn.Subscribe("foo", nil) throws a nil pointer exception instead of deleting the subscription as documented in the README.

Conn.Subscribe("foo", nil) returns normally but does not delete the subscription.

Since there is a Subscription.Unsubscribe() then this 'nil' behavior should be avoided and either return an error in the error field or throw an exception. Looking into the Subscribe co

[2015-02-01 03:56] derekcollison commented on #48
This in the README correct?

[2015-02-01 03:58] rbucker commented on #48
Yep. I was tinkering with the code before I went to the examples.

[2015-02-01 04:01] derekcollison commented on #48
Send a PR.. ;)

[2015-02-01 04:57] rbucker commented on #48
The readme file indicates that c.Subscribe("foo", nil) will unsubscribe and while this method does not throw a nil exception the nc.Subscribe("foo", nil) does. Since (a) the client can register more than on subscription the nil param would seem to be bogus. So If I were to generate a PR for this I'm going to add a check for nil in both subscribe(s) and throw an exception if the handler is nil. (If

[2015-02-01 04:59] rbucker commented on #48
There are two possible solutions. I documented them in the tkt. I do not have the historical perspective to have a strong position other than the aesthetic of using a Subscribe() function to Unsubscribe() when there is already an Unsub function().

Richard Bucker
http://about.me/richard.bucker

[2015-02-01 05:01] rbucker commented on #48
One more thing. There is a testcase in conn_test.go that tests Subscribe("foo", nil). As I indicated Conn.Subscribe() does not throw an exception but it also does not operate properly. The test cases would also need to be evaluated.

[2015-02-01 05:37] derekcollison commented on #48
Will take a look when I have some time.. Thanks..

[2015-02-01 20:25] rbucker commented on #30
This might be a bad thing! Combining distributed state with concurrency and trying to implement some sort of event prioritization is probably not going to work. Instead you might want to use a callback controller instead of handler (same thing only validates local state against the event) and then decide what action is to be taken. Besides those callbacks are really for notification and if there w

[2015-02-01 21:12] rbucker commented on #48
I found this comment in the code:
If no MsgHandler is given, the subscription is a synchronous subscription and can be polled via Subscription.NextMsg().

[2015-02-01 23:47] fraenkel commented on #30
@rbucker Sure. Currently the callbacks aren't provided any details that would allow it to do anything sane. They are invoked and looking at the current state of the world is somewhat dangerous given no correlation key. The biggest issue is that the Disconnected CB for the previous connection can occur after the Reconnected CB. I don't know what safe actions you could take. If you knew that the Dis

[2015-02-02 17:08] derekcollison commented on #48
A normal connection with no handler creates a synchronous subscriber, however will look at the EncodedConn version more closely..

[2015-02-02 17:11] derekcollison commented on #30
I agree these should preserve order, and have a way to fix that on a per connection basis. I am not concerned regarding current state vs intended state when the event is processed. The event is to notify of a transition into a state, not the state itself, and the system could have transitioned out of said state before the notification is processed.

[2015-02-24 01:15] chendo opened #50 "Expose ability to reconnect"
I'd like to be able to get the client to reconnect to the server. Our use case is to rebalance connections to a cluster that's behind HAProxy.

[2015-03-02 09:45] clsung opened #51 "Will not reconnect on "connection reset by peer" errors"
We've got a error msg like

and never get reconnectCallBack called.

The related traceback is:

    /gopath/src/github.com/apcera/nats/nats.go:1620 +0x34e

    /gopath/src/github.com/apcera/nats/nats.go:1630 +0x36

    /gopath/src/github.com/apcera/nats/nats.go:1129 +0x1dd

    /gopath/src/github.com/apcera/nats/parser.go:222 +0xb9a

    /gopath/src/github.com/apcera/nats/nats.go:942 +0x371

    /

[2015-03-06 13:26] krobertson commented on #50
How are you using the nats client? It will reconnect out of the box, however be aware it has a few reconnect settings you may want to switch, like `MaxReconnect` and `ReconnectWait`. If you are having an issue, you may be hitting the default max reconnect number.

[2015-03-06 13:29] krobertson commented on #50
One other thing to add... nats behind HAProxy, are you running it in clustered mode?  If not, it will produce some odd issues as not all clients will be on the same system. But with clustered, haproxy really isn't necessary. You can simply configure the clients with the list of all the NATS servers, and have them pick a random one rather than just the first one.

[2015-03-06 15:58] chendo commented on #50
We want to have the ability to reconnect so we can rebalance the connections to another gnatsd server. A disconnect won't preserve the subscriptions.

We are running it in clustered mode. I have a fork that lets us dynamically add and remove routes to the cluster, so we can dynamically scale gnatsd up and down. HAProxy does the balancing and the config is automatically generated and updated via Ma

[2015-03-06 16:47] krobertson commented on #50
Were you hitting scaling limits with gnatsd? Although rebalancing can help and it avoids clumping on a single gnatsd server, can also be clumped or gated with haproxy itself.

While haproxy just proxies data, it may be that the latency from the added network hop ends ip costing more than an unbalanced set of clients.

[2015-03-07 00:26] chendo commented on #50
Not yet, but I suspect we will at some point.

Our setup has haproxy running on every Mesos worker, so haproxy is always
on localhost, then it picks the least connections for a backend. This
doesn't guarantee that it gets sent to the least loaded backend as haproxy
doesn't share state with others but in our tests, it has been good enough.

On Saturday, March 7, 2015, Ken Robertson <notifications@g

[2015-03-14 15:44] lloydde opened #53 ".travis.yml should not use repotoken"
.travis.yml should not use repotoken

The current behavior is travic-ci pull requests from ppl not in the aperca org fail.

Example build failing of change to README.md:
https://travis-ci.org/apcera/nats/builds/54365695

-- <cite>[THE COVERALLS API][1]</cite>

[1]:https://coveralls.zendesk.com/hc/en-us/articles/201774865-API-Introduction

[2015-03-16 20:13] #53 closed

[2015-03-16 21:08] krobertson opened #57 "TestRecvChanLeakGoRoutines racey with checking goroutines"
Periodic failure seems to happen with 1 goroutine going away that it didn't expect.

[code]

[2015-08-18 14:21] pkieltyka opened #61 "ACK subscription hitting consumer too slow in pub-req"
Hello,

This is more of an FYI and follow up question, but I expect others will run into this as well.

The docs show an example like..

[code]

the request and reply use the same connection, which generally works fine. But in my stress tests the consumer wasn't firing fast enough, and the publish couldn't send anymore messages since "Slow Consumer Detected".

The solution was to have two separate

[2015-08-18 16:19] derekcollison commented on #61
You should not ever receive a slow consumer with request patterns since they wait for the response. Do you have a working example that you could send in a gist so that I can take a look?

[2015-08-19 01:34] pkieltyka commented on #61
Hey @derekcollison - yea.. here it is: https://gist.github.com/pkieltyka/4de2d53d707e13014e4f

let me know if you have any suggestions. I am sending the PubReq asynchronously..

in this example I end up getting `2015/08/18 21:32:51 Err! write tcp [::1]:64236->[::1]:4222: write: broken pipe`  other times I was getting the slow consumer error

[2015-08-19 01:56] derekcollison commented on #61
Yes if you are simply flooding publishes as fast as you can them you may
get a slow consumer. Best to possibly model by using a channel and a group
of workers who do straight nc.Request() to throttle properly.

On Tue, Aug 18, 2015 at 6:34 PM, Peter Kieltyka <notifications@github.com>
wrote:

[2015-08-19 02:04] pkieltyka commented on #61
I see.. right now it's not a problem for us, even at our scale. I've just made a separate connection for now. It would be nice to buffer and somehow prevent the client from exploding though.

I'm just getting into nats, so I'm still learning the best way to crank out performance and build systems with it. So far I love it!

[2015-08-19 02:09] derekcollison commented on #61
In a fire and forget system like NATS, unless you do ACKs / Requests, you
really don't know if you are over running the subscribers. You could
periodically do a Flush() call after N async requests.

On Tue, Aug 18, 2015 at 7:04 PM, Peter Kieltyka <notifications@github.com>
wrote:

[2015-08-19 13:06] pkieltyka commented on #61
Hmm, how can we make this better though? I don't plan to use blocking Requests via `Request()`, and isn't a `PublishRequest()` is the same as a fire+forget packet but it includes a reply inbox payload for the consumer to pick up on and send something back? but for NATS to be what it has the potential to be, then IMO the producers / consumers need to be resilient to load out-of-the-box.

I've been

[2015-08-19 20:33] derekcollison commented on #61
Peter,

If your program needs to know that something was received and processed,
then it should wait for the ACK. Also, request allows timeouts so that you
do not wait forever. Moreover, in Go, Goroutines are cheap and you can have
lots of them, so the blocking nature should not be of too much concern. In
your model, how do you know when one failed? What do you do when it does
fail?

In a real lif

[2015-08-20 15:15] pkieltyka commented on #61
Hi Derek,

Thanks for the insights, it definitely helps and makes me realize some flaws in my design.

My goal for a class of events is to ensure a message was consumed/processed successfully, and if it hadn't, then the publishers will persist that message and try again later. The flow is sending a request to a queue group and waiting for an ack.

I've written a very basic version of that for my s

[2015-08-20 17:41] derekcollison commented on #61
This is great feedback, and we have been thinking about how to enhance the
NATS ecosystem with this functionality. Stay tuned. NATS was designed to be
a fire and forget (nervous system like) messaging platform for always on
components. Asynch messaging and persistence for failures or disconnected
receivers is not part of core, but we are evaluating this as we extend
beyond the original design.

On

[2015-08-20 21:03] pkieltyka commented on #61
awesome, I'm looking forward to hearing more and trying it out eventually!

[2015-08-21 08:25] guyj93 opened #62 "Subject of empty string will cause the nats connection closed"
Hello,
I found that if I give an empty string to the subject parameter of "Publish","Request","Subscribe" function, the function will return no error.
However, operations like these will cause an ERR in gnatsd, and gnatsd will close the connection. After that, calling any function of the connection will return an error of "nats: Connection Closed", and the client won't do any reconnection attempt.

[2015-08-21 12:45] derekcollison commented on #62
Currently the best way to handle this is to utilize an asyncErrorCB.

https://github.com/nats-io/nats/blob/master/nats.go#L104

You can see an example here..

https://github.com/nats-io/nats/blob/d19a6cec4083353ca586e7052a89e0f719946ee5/sub_test.go#L165

The client should be default reconnect on a disconnect.

However, I did add a TODO item to look at this more closely.

https://github.com/nats-io

[2015-08-22 05:40] guyj93 commented on #62
Thank you for your reply !

But I find that asyncErrorCB can't help me in this issue.
In the following code, asyncErrorCB won't been triggered.
[code]
Result:
[code]
If I use nc.Flush() to flush out the publish, the result will be:
[code]

I found the comments on the definition of ErrHandler, and it seems that the handler can only be triggered while receving something.
[code]
In our group to handl

[2015-08-22 05:55] derekcollison commented on #62
The server should return an error protocol message to the client. Which
server are you using? gnatsd? Thanks again, will dig into it for sure since
the async handler should be firing.

On Fri, Aug 21, 2015 at 10:40 PM, guyj93 <notifications@github.com> wrote:

[2015-08-22 06:21] guyj93 commented on #62
I use gnatsd as my server.
Here is the logs of gnatsd
[code]

[2015-08-22 06:36] guyj93 commented on #62
I think client has already receive the error protocol message from server, otherwise when I use nc.Flush(), I won't get an error of " nats: 'Parser Error' ".

[2015-08-22 16:44] derekcollison commented on #62
Thanks, this is helpful. Appreciate the feedback.

[2015-08-26 22:10] xogeny opened #63 "Payload size"
The `gnatsd` enforces a maximum payload size.  In looking at the `gnatsd` debugging output, I can see that a message I am publishing exceeds this limit.  But the call to `PublishMsg` I'm making does not return an error.

Am I correct that `nats` doesn't detect when the server rejects a message (at least based on side)?  If so, is there some reason that the client doesn't/can't check for this?

[2015-08-26 22:15] derekcollison commented on #63
The server enforces, but will send the error in an async fashion. The client should register this from the info and enforce it at the client API level. Will make sure to add it in.. Thanks..

[2015-08-26 22:22] xogeny commented on #63
I've got a few more details that you might find useful/interesting.  I do development on a 64-bit OSX machine.  I never saw this issue.  When I cross-compiled to 64-bit Windows on OSX, I never saw this issue.  As soon as I did a build for 32-bit Windows, suddenly I saw the issue.

I went back and checked on my Mac.  When I publish a message on my Mac, I can clearly see the size of the message and

[2015-08-26 23:18] derekcollison commented on #63
gnatsd will report the maximum_payload, you can check by telnetting to it
and trying a pub with large payload..

Trying 107.170.221.32...

Connected to demo.nats.io.

Escape character is '^]'.

INFO
{"server_id":"1ec445b504f4edfb4cf7927c707dd717","version":"0.6.6","go":"go1.4.2","host":"0.0.0.0","port":4222,"auth_required":false,"ssl_required":false,"max_payload":
*1048576*}

pub foo 2000000

-ERR

[2015-08-27 13:40] xogeny commented on #63
OK, I did some experimenting and I figured out what was going on with the `gnatsd` diagnostics.  I was correct that under Windows I was getting an error about maximum payload size exceeded but I didn't see the issue on my Mac.  However, I was also correct that this was an issue with version skew.  A more accurate way to describe this was that I saw the error using `gnatsd` version 0.6.6 (what I wa

[2015-09-01 02:43] wallyqs commented on #63
Hi, as Derek mentioned the error is reported asynchronously so in this particular case it would be useful for you to pass a DisconnectedCB for the connection since the server would disconnect you once it identifies a transgression in the max payload size.  Showing its usage in the by extending your example a little bit:

[code]

The above code would result in something like the following below, no

[2015-09-04 01:33] wallyqs commented on #63
Added support to enforcing max payload size on the client level now: https://github.com/nats-io/nats/pull/64

[2015-09-04 01:34] #63 closed

[2015-09-07 02:23] ClanStyles opened #66 "check if key exists"
Can I check if a data exists in the system?

example: "func (nc *Conn) Request(subj string, data []byte, timeout time.Duration) (m *Msg, err error)"
Request("subject", string("data"),...) check if "data" exists.

[2015-09-07 22:29] derekcollison commented on #66
Apologize not following. What do you want to check? if you are using an encoded Connection that expects a string then I believe if there was not payload you will get an empty string ("").

[2015-09-09 02:50] kozlovic opened #67 "Possible problem with flusher() not exiting"
I saw an issue where the flusher() seem not to exit. A test case running with "-race" also often shows this:

Ivans-MacBook-Pro:nats ivan$ go test -race -v -run AuthServers
=== RUN   TestAuthServers
==================
WARNING: DATA RACE
Write by goroutine 6:
  github.com/nats-io/nats.(*Conn).processConnectInit()
      /Users/ivan/dev/go/src/github.com/nats-io/nats/nats.go:517 +0x1ad
  github.com/n

[2015-09-09 21:04] kozlovic opened #68 "ReadLine() does not guarantee that the full line is read, which may cause parser to error out"
When receiving the INFO protocol message, the call to ReadLine() assumes that the line will be received entirely, or the "pre" boolean will be true should the buffer be not big enough.
Actually, ReadLine() may return with a partial read, which if it contains at least "INFO" would make processExpectedInfo() to return ok, but then would make the readLoop fail on processing the remaining of the proto

[2015-09-09 21:07] kozlovic opened #69 "Should we have a CONNECTING status?"
When attempting to connect, the CONNECTED status is set early on. If for any reason during the connect and error is triggered (by processOpErr()), this may trigger a reconnect attempt, while we were in the middle of a connect. Maybe if we were using a CONNECTING status, we could use this in processOpErr() to simply return and not try to reconnect, since an error during connect() would correctly re

[2015-09-10 02:29] derekcollison commented on #68
Want to submit a PR?

[2015-09-10 02:30] derekcollison commented on #69
Is this applicable to auth in your opinion? In your opinion should we not try a reconnect?

[2015-09-10 03:03] kozlovic commented on #69
I discovered this when testing if we were to get an error during the processConnectionInit. The call to Connect() will return an error anyway (so the user does not get a connection object), yet, the library is starting a reconnect process in the background. Even if that succeeds, the connection is useless since the user does not have a reference to it. It looks messy to me.

[2015-09-10 03:10] kozlovic commented on #68
Not sure what the fix is going to be yet. But I question the usefulness of ReadLine since this function returns a line without the CRLF but yet does not return an error if not getting the full line... in other words there is no way to check that we have the line or not.
I guess we would need to read until the deadline and then check for CRLF and strip it if present. Will give it more thought.

[2015-09-10 03:18] derekcollison commented on #69
Ok good catch.. Thx

On Wed, Sep 9, 2015 at 8:03 PM -0700, "kozlovic" <notifications@github.com> wrote:

I discovered this when testing if we were to get an error during the processConnectionInit. The call to Connect() will return an error anyway (so the user does not get a connection object), yet, the library is starting a reconnect process in the background. Even if that succeeds, the connection

[2015-09-12 20:17] glycerine opened #71 ""go test" for nats: 5 test failures against gnatsd"
5e5b726926cb1640630fb80c3420187be0b45da8 : on OSX 10.10.2/amd64. go1.5.1.

Five nats tests fail out of the box against gnatsd. Details below.

NB, I didn't want to mess with ruby and the ruby nats server, so I changed conn_test to use gnatsd. Shouldn't this be the default since the ruby version is deprecated?

failed tests:

[code]

my modification to use gnatsd:
[code]

the full test run:
[code]

[2015-09-14 13:35] phifty opened #72 "Panic on 386 systems"
2015/09/14 15:19:26 http: panic serving 127.0.0.1:34640: runtime error: invalid memory address or nil pointer dereference
goroutine 19 [running]:
net/http.(*conn).serve.func1(0x18902060, 0xf76aa860, 0x188fc040)
	/opt/go/src/net/http/server.go:1287 +0xa2
sync/atomic.AddUint64(0x1887b964, 0x1, 0x0, 0x188fe240, 0x4)
	/opt/go/src/sync/atomic/asm_386.s:112 +0xc
github.com/nats-io/nats.(*Conn).subscribe

[2015-09-14 15:25] derekcollison commented on #72
Thanks..

[2015-09-14 15:25] #72 closed

[2015-09-17 18:05] kozlovic opened #74 "AutoUnsubscribe() leaves deliverMsgs() go routine running"
Request() uses AutoUnsubscribe(1) and after the reply is received (or has timed-out), the subscription is closed: s.Unsubscribe(). This will close the channel and the go routine will fall out.

However, if an user uses AutoUnsubscribe() because he wants to receive at most 10 messages, and does not worry about how many messages have been received, then the go routine will stay even though it is not

[2015-09-17 18:26] kozlovic commented on #74
Note: Regardless if the user should still call s.Unsubscribe() when done with the subscription, there is no need to keep the routine alive when no more message will ever be delivered.

[2015-09-17 18:35] kozlovic commented on #74
Furthermore, the subscription is not removed. So on a reconnect, the subscription is sent back with the auto unsubscribe count, but the server has received == 0. So it will send messages to the client that will discard them, since locally, the client knows that its number of delivered messages is greater than the max.
So not only the deliverMsgs() should exit when (delivered > max) but also remove

[2015-09-18 02:19] derekcollison commented on #71
Moved to gnatsd per 6d6f2c4f31f6bba97cefafed57929153eb475196

[2015-09-18 02:19] #71 closed

[2015-09-18 02:22] #66 closed

[2015-09-18 02:32] #62 closed

[2015-09-18 02:33] #61 closed

[2015-09-18 02:34] derekcollison commented on #57
fixed

[2015-09-18 02:34] #57 closed

[2015-09-18 02:55] derekcollison commented on #51
Did the client truly reconnect?

[2015-09-18 02:56] derekcollison commented on #50
We will add rebalancing via gnatsd at some point in the future, most likely when we introduce the gossip protocol for clustering that will also transfer to the clients.

[2015-09-18 02:56] #50 closed

[2015-09-18 03:02] derekcollison commented on #48
EncodedConn is not built currently for NextMsg, I will add an err return though.

[2015-09-18 03:04] derekcollison commented on #67
Fixed with last PR merge..  https://github.com/nats-io/nats/pull/75

[2015-09-18 03:04] #67 closed

[2015-09-18 03:30] #69 closed

[2015-09-18 03:31] derekcollison commented on #68
I will fix this, but in next release most likely..

[2015-09-18 03:44] #48 closed

[2015-09-18 05:33] #74 closed

[2015-09-22 15:05] nickcarenza opened #77 "Unsubscribe does not allow consumption of already fetched messages"
Perhaps there is a good reason for this, but it appears that Unsubscribe sets it's message channel to nil which is potentially a destructive action.

Unless there is another way to consume messages that have already been fetched by the client. I would expect the channel to be closed to prevent future writes but to remain available for reads.

[code]

I am working on a PR that addresses this. I am

[2015-09-23 19:39] nickcarenza commented on #77
Is the preferred way to use an encoded conn and BindRecvQueueChan instead?

[2015-09-26 06:33] derekcollison commented on #77
Unsubscribe should be immediate, hence why the channel is closed. If you want more control, you could auto-unsubscribe if you know how many messages you want, or use Go channels externally as you suggest.

[2015-09-28 16:16] markuslindenberg opened #78 "Error in Publish after JSON unmarshal error in subscribed message"
When using EncodedConn with JSON encoding, a decoding error will set `Conn.err`: https://github.com/nats-io/nats/blob/ef5165913ac88c53c2e2be39f73f8314490ea5dd/enc.go#L196

After `err` is set, publishing messages will not succeed because `publish()` will abort if a global error exists:
https://github.com/nats-io/nats/blob/ef5165913ac88c53c2e2be39f73f8314490ea5dd/nats.go#L1216

Use this test code to

[2015-09-28 16:45] nickcarenza commented on #77
I need to unsubscribe without losing any messages that have already been sent to the client. Because i am subscribed as part of a queue group, if I lose messages after they have already been sent, there isn't a way to recover them.

In order to not lose messages, the unsubscribe message would need to be sent to and processed by nats and all messages before it processed by the client and read on th

[2015-09-30 09:26] derekcollison commented on #78
Messages are buffered for sometime when disconnected and will be sent on a reconnect. I am looking into the global err vs local handling.

[2015-09-30 09:33] markuslindenberg commented on #78
Great, thanks.

I didn't know about the buffering, love that the client is trying to do the right thing by itself. :)

[2015-09-30 10:33] derekcollison commented on #77
What is the condition by which you will unsubscribe? Is this a shutdown
operation? What happens if the queue worker fails? In general the requestor
should have a timeout and retry (or do other logic) if the requests is not
answered. The responders, in my opinion, even as part of a queue group
should be simple and assumed to easily fail or be stopped.

On Mon, Sep 28, 2015 at 6:45 PM, Nick Carenza

[2015-10-01 19:28] nickcarenza commented on #77
Thank you for your attention on this issue so far @derekcollison.

I am trying to do a graceful shutdown of a queue-group subscriber using the pub/sub model. The publisher doesn't know about the number of potential queue-group subscribers so I don't think I could use the request/reply model [multiple-reply-gist](https://gist.github.com/nickcarenza/9244722c8a9d0faa188e).

[2015-10-03 01:43] sheenobu opened #79 "No token based auth support"
The gnatsd server supports token based auth via a token_auth json field, however the client does not support this. PR incoming...

[2015-10-07 07:16] yehezkielbs opened #81 "make sendPing exported"
So application can send Ping to server when it wants to.

[2015-10-07 17:03] kozlovic commented on #81
As you may know, you can already configured the ping interval Options.PingInterval, and the connection has two exported methods sending a PING and getting a PONG back: Conn.Flush() and Conn.FlushTimeout().

Would you mind letting us know why being able to call sendPing() at the application level would be useful?

[2015-10-08 00:35] yehezkielbs commented on #81
OK, nevermind. I can just use Flush() & FlushTimeout()

[2015-10-08 00:35] #81 closed

[2015-10-13 20:56] kozlovic opened #86 "Better capture pending writes when getting disconnected"
Imagine doing nc.Publish() in a loop. The server is stopped/restarted and the library tries to reconnect. The pending buffer is created only in doReconnect(). That leaves a window where nc.bw.write() calls may accumulate to the point of causing a flush (socket write) which will likely result in an error returned from the nc,Publish() call.
Also, the use of a buffered writer may cause situations wh

[2015-10-15 00:00] nickcarenza commented on #77
Any further thought on this issue @derekcollison?

[2015-10-15 02:15] mcqueary commented on #77
Nick, just curious, did you see the comment Derek made on your gist? The general best practice for pub/sub request-reply involves using a timeout on the request if you need to make sure that request gets processed. Using request with a timeout allows your requestor to retry any request for which he hasn't received a response, therefore it doesn't matter when the queue subscribers come and go.

[2015-10-15 19:02] kozlovic commented on #77
Nick,

If I understand your issue, is that messages are sent to a subscriber that is going away, and all "pending" messages for that subscriber are lost since they were given to this subscriber alone because the subscriber is a "queue subscriber".

[code]
Sub2 processes 2, and then unsubscribe, so messages 4 and 6 that were sent to it are "lost" (meaning that they are not going to be processed).

[2015-10-16 00:10] kozlovic opened #87 "Reconnect logic flawed when servers in the list require authentication"
As I was trying to change the C client to do connect asynchronously, it occurred to me that there is a problem due to the asynchronous nature during the reconnect process in the GO client.
If the client is connected to a server, and one in the list requires authentication while the client does not have it (or does not match), then when the client is disconnected and try to connect to that server,

[2015-10-16 16:44] ColinSullivan1 commented on #86
With regards to the buffered writer on reconnect, the buffer could be trimmed to discard a partial message before sending the data to the server.

[2015-10-16 17:28] nickcarenza commented on #77
@kozlovic @mcqueary The request-reply model works if the requestor knows or cares about the number of queue groups. My [gist](https://gist.github.com/nickcarenza/9244722c8a9d0faa188e) just demonstrated to me that request-reply would work with multiple queue group subscribers because I wasn't sure if it would.

Since the publisher doesn't know how many queue groups might be subscribed to any partic

[2015-10-16 17:32] derekcollison commented on #77
So are you looking for a barrier from the requestor side for app level acks? There may be more that exists that the requestor may not care about. If N becomes large then you may want to use a delegate pattern where the original requestor knows about the delgator only and the delgator pattern understand the downstream processing groups.

[2015-10-16 18:16] kozlovic commented on #77
@nickcarenza Ok, I think understand now. As you have seen, solving this problem would require coding at the application level. NATS is really fire-and-forget and there is no way to have the client fetch only a message at a time (I am not talking about auto-unsubscribe, but really getting one message at a time from the server until the application decides that it wants to unsubscribe).

You could f

[2015-10-16 19:23] derekcollison commented on #87
Synch reconnect may make more sense after the async condition is detected.

[2015-10-16 19:55] mcqueary commented on #77
@nickcarenza I understand now. To summarize: Since NATS currently offers no built-in delivery guarantee, you need a way to ensure message delivery to all **queue groups** subscribed to subject `FOO`. NATS request-reply is insufficient to this task because your requestor has no *a priori* knowledge of how many queue groups are subscribed to `FOO`, in order to know how many responses to expect.

**I

[2015-10-16 20:30] nickcarenza commented on #77
I think I have resolved to an approach that is a combination of all of your helpful suggestions. As @derekcollison suggested, I have created an delegator that is a thin layer between the app and nats. And as @mcqueary and @kozlovic suggested, I need to make that delegator aware of how many subscribers to expect.

This approach comes with a new challenge in the case of a failure: resending the mess

[2015-10-16 20:42] kozlovic commented on #77
@nickcarenza I am not sure how making the unsubscribe followed by a flush followed by the removal of the subscription helps you in any way. The call to removeSub is going to get rid of all the "pending" messages. I thought that this is what you did not want, that is, you wanted to preserve those messages. Am I missing something?

[2015-10-16 20:46] nickcarenza commented on #77
@kozlovic Once Nats received the unsub it will stop sending messages for the subject to the server, then it will receive the PING and send a PONG. By waiting for the PONG I can be sure that every message received before it has already been processed by the client and that no more messages will follow it.

[2015-10-16 20:47] ColinSullivan1 commented on #77
@nickcarenza:  I thought I'd offer slight variation on Larry's suggestion:
 The subscribers (third party services) could publish a heartbeat message
with the queue group name in it at a periodic interval, rather than waiting
for the publisher to solicit them for this information.  From these
heartbeat messages, the publisher maintains a list of known queue groups,
and thus the number of responses

[2015-10-16 20:51] kozlovic commented on #77
@nickcarenza you are right!

[2015-10-16 20:53] mcqueary commented on #77
@ColinSullivan1 I nearly suggested exactly what you've suggested here -- a 'beacon' message published at intervals. I think the only drawback is needing to prune the list if a queue groups simply goes away permanently. .

[2015-10-16 20:56] ColinSullivan1 commented on #77
Yep, that pruning could come from a shutdown message sent by the third
party service application.

On Fri, Oct 16, 2015 at 2:53 PM, Larry McQueary <notifications@github.com>
wrote:

--
*Colin Sullivan* | Principal Engineer
colin.sullivan@apcera.com <brian@apcera.com>  | @ColinSullivan01

[2015-10-16 23:00] mcqueary opened #90 "Implement a group membership API"
TODO: Add story and/or more detailed requirement spec.

[2015-10-21 01:04] smithwinston opened #93 "Can't customize TLS connection configuration"
In `makeTLSConn()` it hard codes the following for the TLS Client configuration:

[code]

If there was an instance of `tls.Config` in the `Opts` structure, the `makeTLSConn()` could use it (with the default as above).  The user could then override the TLS configuration to allow for custom certificates, specifying TLS versions, Cipher suites etc).

[2015-10-21 01:21] derekcollison commented on #93
Once work on formal TLS is finishing up will relook at the clients who supported it with the old ruby based server.

[2015-10-21 15:06] jduhamel opened #94 "Readme.md code has a bug."
While I know the Readme sample code is just sample. It is incorrect. The line that reads
```err := nc.Request("help", "help me", &response, 10*time.Millisecond)```

should be
``` err := c.Request("help", "help me", &response, 10*time.Millisecond)```

also (very minor nit.) err is defined but not used. ;)

[2015-10-21 16:29] mcqueary commented on #94
Thanks Joe, we'll fix it ;)

[2015-10-21 16:59] mcqueary commented on #94
Fixed with `675093b`

[2015-10-21 16:59] #94 closed

[2015-10-28 01:16] kozlovic commented on #87
Closing this since solved with #95.

[2015-10-28 01:16] #87 closed

[2015-10-28 01:16] kozlovic commented on #68
Closing this since this was resolved with #95

[2015-10-28 01:16] #68 closed

[2015-10-29 03:03] mcqueary opened #99 "Remove unused func serversAvailable()?"
This is just housekeeping, but [`func (nc *Conn) serversAvailable() bool`](https://github.com/nats-io/nats/blob/master/nats.go#L300-307) doesn't appear to be referenced anywhere.

/cc @derekcollison

[2015-10-29 03:19] derekcollison commented on #99
I think it may have been removed with @kozlovic latest changes.

[2015-10-29 14:51] kozlovic commented on #99
I did not remove it, but looking at the history (went back to 2013), it was there but it look like it was never used.

[2015-10-29 15:00] #99 closed

[2015-10-29 15:05] derekcollison commented on #99
Good catch then Larry! Apologies..

[2015-11-07 01:49] uwillis opened #104 "Expose Subscription.mch for efficient subscribe"
Currently Subscribe() always spawns [a new routine](https://github.com/nats-io/nats/blob/master/nats.go#L1356). During fan-in with many subjects, this could easily blow up with many routines idling on <-s.mch (memory use: nsubs * 2 KB)

BindRecvChan unexpectedly does the same. SubscribeSync doesn't let me aggregate select in a single routine.

Exposing mch will let developers handle its own select

[2015-11-07 21:30] derekcollison commented on #104
So you want to be able to run a select against multiple channels representing subscriptions without the extra goroutines, that correct?

[2015-11-09 03:52] camros commented on #87
I am trying to understand the PING being sent after CONNECT with reference to the protocol docs. It's not necessary to send a ping after the connect. I do not understand by this was applied to the go client.

Am I wrong in assuming that for now this is hack to get around a sync/sync cleanliness of starting a new connection? This comment applies only to sending ping after connect and waiting for po

[2015-11-09 03:55] kozlovic commented on #87
Jeff, the connect process is using non-blocking sockets, so that we can timeout the process. Doing a PING/PONG ensures that the client knows that the server has properly processed the connection init request, otherwise it would not know for sure. Does that make sense?

[2015-11-09 03:57] camros commented on #87
Understood/confirmed. Thanks!

[2015-11-09 05:25] uwillis commented on #104
Correct.

I see that s.mch is too deep inside to be exposed though.
Just an idea for an API:
[code]

Internally, you can do nonblocking send:
[code]

User is responsible for predicting his own message rate (inbox size)

[2015-11-09 05:32] derekcollison commented on #104
I think you raise a good point about being able to more closely control that aspect of the client. Let me give it some thought.

[2015-11-09 05:41] uwillis opened #108 "Multiple servers: subscribe then publish receives no message"
1. Start gnatsd at serverA and serverB
2. run client1 with `opts.Server = []string{serverA, serverB}`
3. subscribe client1 to a topic
4. run client2 with `opts.Server = []string{serverB, serverA}` . Note the sequence
5. client2 publish to topic continuously
6. client1 never receive messages

[2015-11-09 05:42] derekcollison commented on #108
Send a simple test program that shows the issue, happy to take a look.

[2015-11-09 06:30] uwillis commented on #108
Run two gnats at port 2222 and 3333, then run the following
https://gist.github.com/uwillis/2d56611284e43e84740d

[2015-11-09 15:43] derekcollison commented on #108
Would need to see the configurations for the gnatsd that cluster them together.

[2015-11-09 18:25] mcqueary commented on #87
I have implemented the same logic in the Java client.

On Sun, Nov 8, 2015 at 8:57 PM, Jeff Marshall <notifications@github.com>
wrote:

--
*Larry McQueary* | Director, Messaging Technology
larry@apcera.com | @mcqueary | github.com/mcqueary

[2015-11-10 08:28] uwillis commented on #108
My bad, I was only using --routes flag. Using file config and it works.

Can I ask what's the cluster behavior during split brain (network partition) ?I tried to google but couldn't find any info.

[2015-11-10 08:28] #108 closed

[2015-11-10 16:10] derekcollison commented on #108
NATS is a fire and forget substrate system, so under split brain, messages will be lost. Upon re-connectivity, the interest graph will heal, but messages that were sent during may be lost..

[2015-11-24 08:09] byrnedo opened #113 "Any appetite for making subscription more like http.HandleFunc ?"
Hi,

Firstly Nats is great. :)

Secondly, I write http services that also communicate via nats internally.
Since the http lib already has a standard way to register handlers it would, for my part, make life simpler if nats had the same convention.

`nats.HandleFunc(<subject>, func(...){...})`

Is there any appetite for this? Is there a better forum in which to discuss this kind of thing?

For my o

[2015-11-24 17:02] derekcollison commented on #113
Thanks for the feedback! Best place would be the google group, or possibly the Slack forum.

More information at http://nats.io/community/

[2015-11-24 17:02] #113 closed

[2015-12-19 14:53] derekcollison opened #115 "Don't use channels for subscribers"
This leads to bad behavior when lots of subscriptions exist.

[2015-12-21 08:17] mcqueary opened #116 "processDisconnect() nc.err setting has no effect"
Here's `processDisconnect()` from `nats.go`:
[code]

Here's the only place where processDisconnect is called:

[code]
`nc.err` is immediately reassigned, therefore setting it in processDisconnect() has no effect.

[2015-12-21 12:35] derekcollison commented on #116
Feel free to remove and PR if all tests pass.

[2015-12-21 19:02] mcqueary commented on #116
Will do, I just wanted to open the issue in case I missed a detail.

On Monday, December 21, 2015, Derek Collison <notifications@github.com>
wrote:

--
*Larry McQueary* | Director, Messaging Technology
larry@apcera.com | @mcqueary | github.com/mcqueary

[2015-12-26 06:16] mcqueary commented on #116
Closed by #117

[2015-12-26 06:16] #116 closed

[2015-12-26 07:55] mcqueary opened #118 "sendConnect() doesn't handle +OK when verbose is set"
If the client's initial `CONNECT` message has `"verbose":true`, the server will reply with `+OK`. However, `sendConnect()` doesn't expect this, and will return an error.

[2015-12-26 08:27] mcqueary opened #119 "sendConnect() calls err.Error() when err is guaranteed to be nil, causing a panic"
Long story short, `sendConnect()` sends a `CONNECT` and a `PING`, and then flushes the bufio writer. If `err` is non-nil at any point, the function returns the error. Then it reads a line from the server, expecting either `PONG` or `-ERR`. If it's neither of these things, then `err.Error()` is checked for a TLS error.

The problem is that `err` is guaranteed to be nil here, causing a nil pointer p

[2015-12-26 16:45] kozlovic commented on #118
Sounds like I introduced this when making the (re)connect process synchronous, right?

--
Ivan Kozlovic | Principal Engineer
http://github.com/kozlovic
Apcera Inc.

[2015-12-26 16:49] kozlovic commented on #119
Would replacing err.Error by line fix the problem? I introduced the previous 'if' statements when making the process logic synchronous. We have to check for possible errors returned by the server.

--
Ivan Kozlovic | Principal Engineer
http://github.com/kozlovic
Apcera Inc.

[2015-12-26 16:53] derekcollison commented on #119
Let's put together a quick test that shows the problem as specified above and then fix it.

[2015-12-26 16:53] derekcollison commented on #118
@kozlovic I think so..

[2015-12-26 17:06] mcqueary commented on #119
+1. I believe we need to fix both things -- how we are checking for error, and also make sure we account for verbose being on #118.

[2015-12-26 17:46] kozlovic commented on #118
Will send something soon...

[2015-12-26 19:15] kozlovic commented on #119
I introduced this one too by moving changes from commit 4b1d6619fb820c2da7318369195d3928a7f1d07f there (when making connect synchronous). Looks like the intent of the original code was that GO language would return this kind of error in a write/read call. So I wonder if we need to have these kind of checks in sendConnect() to return an appropriate ErrSecureConnFailed error?

[2015-12-26 19:31] kozlovic commented on #119
Ok, so this code needs to be removed for sure. The question is: should I "convert" any error returned in `sendConnect` function to `ErrSecureConnFailed` if the error starts with "tls: ", or do nothing and return the actual error returned by any of the `nc.bw` or `br` calls as it is now (which may be more valuable in understanding what is wrong)?

[2015-12-26 19:47] kozlovic commented on #118
Fixed by #120

[2015-12-26 19:47] #118 closed

[2015-12-26 19:52] mcqueary commented on #119
IMO, the latter. Return the actual error returned by `br`. More information is better. I don't believe we know (right now) every possible error that may be returned, so I wouldn't limit it to those starting with `"tls: "`.

[2015-12-26 19:54] kozlovic commented on #119
I agree, I will submit a PR with the code (and new error that would not be used) removed. Will wait for Derek to get his opinion.

[2015-12-27 01:22] kozlovic commented on #119
Fixed with #121

[2015-12-27 01:22] #119 closed

[2015-12-28 02:31] donileo opened #122 "Subscribe() accumulates callbacks"
Is there a reason calling Subscribe on a topic should accumulate the callbacks?

For example:

Subscribe("a", callback)
Subscribe("a",callback)

will actually call the callback two times for every message received on topic "a". Seems different than what would I would expect which is that callback should only be called once per message sent on topic "a" no matter how many times the callback is subs

[2015-12-28 05:13] derekcollison commented on #122
Each subscribe creates a new subscription to the given topic with different and unique subscription IDs (sids).

[2015-12-28 05:13] #122 closed

[2016-01-04 04:34] mcqueary opened #123 "Incorrect error from NextMsg(timeout) when max reached"
The `NextMsg(timeout)` function interprets `s.mch == nil` as indicating that the connection is closed, and returns `ErrConnectionClosed`. This is an invalid assumption. `s.mch` having the value `nil` only means that the subscription has become invalid (removed via `removeSub(s)`), which will be true if the connection `close(...)` has been called, but it will also be true if the subscription's auto

[2016-01-04 04:53] mcqueary opened #125 "Unreachable error condition in NextMsg()"
TL;DR `delivered > max` can never be `true` in this function. Let's remove that check and its associated error.

`NextMsg(timeout)` bails out with an error if the subscription has become invalid (closed). Reasons the subscription can become invalid/closed are:

- Slow consumer
- Max messages reached
- Connection closed

So, consider the following code:
[code]
The error condition in the middle (`de

[2016-01-04 05:32] derekcollison commented on #125
Multiple Goroutines could be calling into NextMsg() at the same time. And since mch is not necessarily unbuffered, this is possible IMO.

[2016-01-04 07:25] mcqueary commented on #125
Good point. I wasn't thinking about concurrency there. Sounds like a good test :)

[2016-01-04 07:25] #125 closed

[2016-01-04 15:58] kozlovic commented on #123
Larry, have a look at PR #107 for some background. I introduced s.closed in this PR, and at one point replaced the test of s.mch with s.closed, but we decided to keep using s.mch instead.

[2016-01-04 20:12] mcqueary commented on #123
Ivan, I looked at them just now. The problem is that s.mch is always nil when s.closed is true, and vice versa. They are assigned in [close()](https://github.com/nats-io/nats/blob/master/nats.go#L1735-L1748) and in [removeSub()](https://github.com/nats-io/nats/blob/master/nats.go#L1458-L1471). We are using indirect indicators to figure out if the connection is closed, but none of them is distinct.

[2016-01-04 21:39] kozlovic commented on #123
I think that if we want to maintain `ErrConnectionClosed` at the top of this function, we would need to check `Conn.IsClosed()`. That would satisfy Derek comment in #106, which was: " So if the subscription is valid but connection was closed, return connection closed, otherwise return bad subscription.".

In other words, if connection is closed (explicitly or due to error? note that `close()` will

[2016-01-06 01:40] mcqueary commented on #123
Ivan, I don't believe we have any choice but to check for `conn == nil`, unless we change `Conn.removeSub()` to work differently.  If `removeSub()` has been called for this subscription, then `s.conn == nil`is guaranteed when entering this function, and calling s.conn.IsClosed() without a `nil` check would result in a nil pointer panic. In this case, how would we regain access to the parent connec

[2016-01-06 02:41] kozlovic commented on #123
True, and like I said, that would probably be costly. This is why I was saying that during the connection close, we go through the subscriptions to 'close' them. We could - under the subscription lock - set a new boolean (in the subscription object of course) indicating that the subscription is closed in result to the connection being closed. This boolean would be false when subscription is closed

[2016-01-06 03:26] mcqueary commented on #123
Sorry, I think I skipped the last sentence of your previous comment :) :+1: Yes, that's what I was thinking, too: a new boolean field set during `close()` that would definitively indicate what has happened. That makes the most sense to me... and you're right, checking `s.conn` would then be unnecessary.

[2016-01-06 14:17] mcqueary commented on #123
#124 now incorporates what we talked about here. Please have a look.

[2016-01-06 15:39] #123 closed

[2016-01-10 18:37] derekcollison commented on #93
This is handled now via https://github.com/nats-io/nats/commit/355b5b97e0842dc94f1106729aa88e33e06317ca

[2016-01-10 18:37] #93 closed

[2016-01-12 20:22] schancel commented on #104
I'd like to second this issue.  I'm also running into a situation where I'd like to have direct access to the channel messages are sent on.  There's currently no way for a goroutine to easily process messages from nats, and messages from other goroutines.

e.g.

[code]

I'm not seeing any particular reason why `mch` couldn't be exposed with a little bit of refactoring.

[2016-01-12 20:39] derekcollison commented on #104
I have been looking at this a bit. For your instance, I believe you can use this to achieve what you want: https://github.com/nats-io/nats#using-go-channels-netchan. In general I hide the internals because they are just that, internals, which I would like us to reserve the right to change and make better. I am working on that part.

[2016-01-16 13:39] #77 closed

[2016-01-16 13:40] derekcollison opened #127 "Better Option Handling"
Options are handled poorly when creating a non-simple connection.

See here for better ideas: http://dave.cheney.net/2014/10/17/functional-options-for-friendly-apis

[2016-01-17 01:35] #127 closed

[2016-01-17 01:54] kozlovic commented on #115
What kind of bad behavior? Is it about memory or something else?

I see that a subscription is pretty expensive memory wise. The creation of the message channel for one is costly, especially when there is no pending messages. In C, the message has a pointer to a message, so I can have a linked list. The SubChanLen is replaced with a MaxPending count that is checked against a list's count value. So

[2016-01-17 02:05] derekcollison commented on #115
Exactly, I will do a linked list impl as well. That is for tomorrow. ;)

[2016-01-17 02:07] kozlovic commented on #115
And for the notification? Use channel too or regular condition variable?

PS: If you want, I can try to do that for you, unless you have something very specific in mind.

[2016-01-17 05:52] derekcollison commented on #115
Regular condition variables. I have a plan, will be fun. Plan on coding it up tomorrow.

[2016-01-19 17:56] AnatoliiPrylutskyi commented on #78
Hi Derek!

I bumped on the same error in this line:
https://github.com/nats-io/nats/blob/ef5165913ac88c53c2e2be39f73f8314490ea5dd/enc.go#L82

It was confusing to me debugging this issue in application. I think removing of global errors from subscribe and publishing is good idea. Encode/Decode error shoudn't affect next message.

I can create PR for this fix.

Thanks

[2016-01-19 21:11] derekcollison commented on #78
I agree, on my list. Deep in some changes that are staged in a branch around core functionality for the Go client, but will move to this issue very soon.

[2016-01-20 10:43] derekcollison commented on #86
I have this fixed now, we don't do partials, but we watch the outbound buffer size and if exceeded we produce and error on publish. Also its configurable.

[2016-01-20 12:18] #115 closed

[2016-01-20 12:19] derekcollison commented on #104
Handled now by https://github.com/nats-io/nats/blob/master/nats.go#L1628

[2016-01-20 12:19] #104 closed

[2016-01-20 12:20] #86 closed

[2016-01-20 12:27] derekcollison commented on #51
Did the server ever come back up before the client timed out retries?

[2016-01-20 12:27] #51 closed

[2016-01-20 14:46] #79 closed

[2016-01-20 16:00] kozlovic commented on #86
Not sure if this captures the original issue I tried to described. Suppose we are connected and here is a view of nc.bw (the '.' indicates free space):

[code]
At this point, we disconnect. The content of `nc.bw` is moved to pending. Then say we reconnect, resend the subscriptions (if any) and flush the pending buffer to the newly created connection. We are going to send:
[code]
Which would result

[2016-01-20 16:03] derekcollison commented on #86
During disconnect we have a bytes.Buffer() backed BufferedWriter. So as things move along thins accumulate in the nc.bw and flush to nc.pending. When we reconnect we flush bw to nc.pending and send that to the new socket connection, then replace nc.bw with a new BufferedWriter backed by the socket.

[2016-01-20 16:07] kozlovic commented on #86
I know that. The problem is the state of nc.bw *prior* to the disconnect. If you look at the above example, nc.bw contains a partial *before* the disconnect.

[2016-01-20 16:16] derekcollison commented on #86
If that is the case we will get immediately disconnected and reconnect again. So we will have data loss. Not sure its worth it when we create pending to make sure of this, but we could. We should create a test case first for sure.

[2016-01-24 03:05] kozlovic opened #136 "Possible nil pointer dereference during reconnect"
Publish() checks if we have reached the max size of the pending buffer by checking `isReconnecting()`. The status is changed to `RECONNECTING` before starting the go routine doReconnect() where the pending buffer is actually created. This can result in `nc.pending` being nil when checking `nc.pending.Len()`, in `publish`.
Possible fix is to check for `nc.pending != nil` instead of `isReconnecting(

[2016-01-24 18:16] #30 closed

[2016-01-24 18:22] kozlovic commented on #136
Fixed in #137

[2016-01-24 18:22] #136 closed

[2016-01-29 05:17] glycerine opened #146 "minor/doc: suggest Flush after subscribe in examples/nats-sub.go"
Since Subscribe happens asynchronously, it would be kind to beginners to mention that nc.Flush() here is appropriate if you don't want to race waiting for your subscription taking effect.

https://github.com/nats-io/nats/blob/master/examples/nats-sub.go#L47

This caught me at first, resulting in racy tests that fortunately failed 20% of the time (if it had been 1% of the time, I'd have been very s

[2016-01-29 05:20] glycerine opened #147 "Provide TLS example code"
Learning nats, it took alot of research and slack chat to nail down TLS connection configuration. It would be great if there were runnable example code in the examples/ directory.

[2016-01-29 05:23] glycerine opened #148 "doc: tls doesn't require DNS"
I mentioned this on Slack, but I thought it could be much better enunciated in the docs:

Gnatsd doesn't require a DNS entry for your server in order to utilize TLS certs. This actually makes TLS certs much, much more useful for backend systems stuff.  I'm concerned that people who don't take the time to experiment and discover this undocumented feature on their own may be put off by the concerns

[2016-01-29 05:24] glycerine opened #149 "Provide script (or documentation) to generate TLS client and server certs"
It took about a day to do this on my own. If folks needing to secure their nats cloud traffic with TLS for the first time had a script to generate the Certificate Authority as well as the server and client side certs and keys, that would be a huge boon to usability.

[2016-01-29 05:26] derekcollison commented on #146
All operations are ordered and consistent on a per connection basis. The fact that we optimize sending packets to the server should not be applicable unless you are doing multiple connections. But even then, one can reason that we can do Flush() or better yet make it synchronous. I use the Flush trick for multiple connection tests. However, as soon as the connections are connecting to separate ser

[2016-01-29 05:28] derekcollison commented on #147
We can always do better of course, but this section in the README was not helpful?

https://github.com/nats-io/nats#tls

[2016-01-29 05:30] derekcollison commented on #148
Working with certs is a complicated issue for sure.

[2016-01-29 05:32] glycerine commented on #148
opened https://github.com/nats-io/gnatsd/issues/181 as a proposal to simplify.

[2016-01-29 05:49] mcqueary commented on #146
Jason, I think more discussion of how connection flushing works is appropriate in the documentation, and we'll do that. Derek's right, though: nothing can guarantee the ordering of protocol messages between two different connections even if they are connected to the same server. The `nc.Flush()` happened to work in your case because of the specific timing, connecting to the same server, and who kn

[2016-01-29 06:04] glycerine commented on #147
Yes, that certainly was helpful. It took a while to discover it though.

[2016-01-29 06:13] derekcollison commented on #147
Good feedback, thanks.

[2016-01-30 01:50] kozlovic opened #151 "NextMsg() on SyncSubscription may not return until Timeout when max is reached"
Setup:
- Create sync subscription
- call AutoUnsubscribe
- Have multiple go routines sitting on NextMsg(Timeout)
- Send enough messages to reach the max
- All but one NextMsg() will wait until Timeout before exiting, although the subscription is being removed.

(created for tracking purposes - fix coming up)

[2016-01-30 01:53] kozlovic opened #152 "On reconnect, client may send incorrect UNSUB value to server"
Setup
- Create Subscription
- Call AutoUnsubscribe(N)
- Send/Consume "N - m" messages
- Restart server and wait for client to reconnect
- Send more messages.

The client auto-unsubscribes after the correct number of messages, however, we can see in the server log that the original (N) number is sent as part of the UNSUB protocol. The server will therefore send more messages to the library, which w

[2016-01-30 18:33] derekcollison opened #154 "Inbox drains the entropy pool"
Since we use crypto/rand we most likely drain the entropy pool. Use better solution.

[2016-01-30 19:33] kozlovic commented on #151
Closed by #153

[2016-01-30 19:33] #151 closed

[2016-01-30 19:33] kozlovic commented on #152
Closed by #153

[2016-01-30 19:33] #152 closed

[2016-02-02 18:22] kozlovic commented on #38
Status callbacks are representing a state change, but do not guarantee that the state is still the same at the time the callback is invoked. We used to have calls to those callbacks either in place or in go routines, which could cause "out-of-order" callbacks. This has been addressed in #135. Closing this issue since there is no plan to guarantee connection status to not changed while callbacks ar

[2016-02-02 18:22] #38 closed

[2016-02-04 02:22] jmjava commented on #63
what is the maximum configurable payload size?  We sometimes have to process large messages like 100's of MB... is this possible?

[2016-02-04 02:35] derekcollison commented on #63
The server can be configured with a different limit for the message size. Probably would not recommend direct messages that are 100MBs. Can you describe the use case you are trying to solve for?

[2016-02-04 02:44] mcqueary commented on #63
Derek's right. Typically with messages that large, we'd recommend "chunking" them (i.e. breaking them into smaller chunks on the producer end and reassembling in sequence on the consumer end), or simply passing URI references to some well-known storage location, vs. attempting to send them as one message. How often is 'sometimes'?  As Derek mentions, more details would be helpful if you don't mind

[2016-02-04 11:15] jmjava commented on #63
We do calculations that return results that can get quite large.  We wanted
to break up into 2 micro services one to calculate and one to persist
results.
On Feb 3, 2016 9:35 PM, "Derek Collison" <notifications@github.com> wrote:

[2016-02-04 12:33] xogeny commented on #63
Ironically, my use case was very similar to @jmjava's.  I eventually refactored things to do what @mcqueary suggested (passing around an opaque identifier for the blobs).  Of course, I then needed to have some ubiquitous non-NATS driven system for managing those opaque identifiers.  But it worked out.  My main concern driving that approach was the case of having a blob come along at some point tha

[2016-02-04 14:57] jmjava commented on #63
OK something like Swift or S3 and then passing message with pointer.
Sounds good.

On Thu, Feb 4, 2016 at 7:33 AM, Michael Tiller <notifications@github.com>
wrote:

[2016-02-16 12:21] andrewtw commented on #149
I believe this procedure is extremely standard for Golang developers and no need to build this function in the package.

[2016-02-18 03:50] mcqueary opened #164 "doReconnect() prematurely resets cur.reconnects"
`doReconnect()` resets the number of reconnect attempts for this server (`cur.reconnects = 0`) immediately after `createConn()`succeeds, but _before_ `processConnectInit()` has sent a `CONNECT {...}`. Consider the case where the server list contains `"localhost:1234, localhost:4443"`, where the latter requires auth, but the former does not. When `localhost:1234` goes down, the client will attempt

[2016-02-18 05:59] #164 closed

[2016-02-24 17:24] derekcollison commented on #154
Fixed with ee014d387f42a95432d02090bff80924220f2e52

[2016-02-24 17:24] #154 closed

[2016-02-29 09:50] warmwine opened #168 "how can subscriber know who is publisher"
as title

[2016-02-29 09:51] warmwine commented on #168
if there is a lot publishers and one subscriber.
how can subscriber known which publisher is the one who send a certain message

[2016-02-29 12:46] camros commented on #168
@warmwine there is now out of the box way to know who a given sender is. That is by design of nats. Servers and clients are decoupled. If you need to know who a given sender of a message is then your message producer (publisher) should include that information in your message.

[2016-02-29 16:13] warmwine commented on #168
thanks a alot

[2016-02-29 16:13] #168 closed

[2016-03-03 21:19] dennismartensson opened #169 "Unsub on a timer"
We could use a auto unsubscribe based on duration

So if there are no messages received on the subject for a duration of time it will unsubscribe but if there is a message the timer will be reset.

[2016-03-04 06:21] derekcollison commented on #169
Like an inactivity timer?

[2016-03-04 14:40] camros commented on #169
@dennismartensson if your goal is proxying web sockets and keeping sessions alive/managing state...

Then, you may find a method like this works for you:

1. create a _traditional http session like object_ to hold state on the web server side works for your web socket connection (e.g., for a new web socket client connection, create some state with a token, and your *nats client connection*).
2. Th

[2016-03-05 13:28] dennismartensson commented on #169
@derekcollison: Yes like an inactivity timer

@camros: Hi I have tried a number of solutions to make it scale well on the proxy side. My first naive approach was to create one connection for every websocket connection and then subscribe to the subjects this websocket connection needs. But as @ColinSullivan1 told me every subscribe is a go routine and then all the connections to NATS made it not sc

[2016-03-05 16:58] ColinSullivan1 commented on #169
@dennismartensson I'm glad things are looking to scale well for you!

Yes, connections are tough to **massively** scale.  However subscriptions should scale better than connections.  How many concurrent websocket subscriptions do you need to handle?

In general I'd suggest starting simple and then optimizing as necessary.  I'd suggest trying #1 first, and if that works for you in a load test, grea

[2016-03-08 02:03] kozlovic commented on #78
I think that this may have been fixed in #131 and more generally in #158. Can I close this issue?

[2016-03-10 13:19] dennismartensson commented on #169
So to let you know I did decide to go with a counter per subject that is +1 when a client joins and a -1 when a client disconnect and when there is 0 we do unsubscribe, This looks to be a very basic approach but takes care of what we needed.

[2016-03-10 15:40] ColinSullivan1 commented on #169
@dennismartensson  Great - a nice, simple solution!

[2016-03-20 01:07] mcqueary commented on #78
Closing per @kozlovic above comments that this is addressed in #131 and #158. @AnatoliiPrylutskyi or @markuslindenberg, please comment if you find this is not true and we can re-open.

[2016-03-20 01:08] #78 closed

[2016-03-20 23:54] mcqueary commented on #149
Hi folks, please vote this if you're interested. Meanwhile we are happy to review a PR for this if someone wants to contribute an example.

[2016-03-21 00:26] mcqueary commented on #148
Jason, please feel free to submit a PR against the nats-io/gnatsd or nats-io/nats README, or the nats-io/nats-docs repo. Perhaps [the FAQ] (https://github.com/nats-io/nats-docs/blob/master/content/documentation/faq.md) would be a good spot?

[2016-03-21 00:26] #148 closed

[2016-03-21 00:31] mcqueary commented on #147
It would probably be easy enough to adapt something from the unit tests.

[2016-03-21 03:05] glycerine commented on #149
Suggestion: cockroach db is open source under an Apache2 license, written in Go, and already implements functionality to generate certs. I would borrow the cert generating code from them and fashioning a little standalone utility; it's already tested, known to work, and most significantly, already written. See for example

https://github.com/cockroachdb/cockroach/blob/master/security/certs_test.go

[2016-03-21 03:09] glycerine commented on #147
https://github.com/glycerine/tmframe/blob/master/archiver/tls.go  is my standard re-used tls-code-for-nats these days. Feel free to copy it; it is MIT licensed.

[2016-03-21 07:00] #146 closed

[2016-04-05 13:15] longsleep opened #174 "Conn.publish can result in "short write" Error when writing to buffer"
I am not sure what actually is causing it, but i sometimes see the NATS connection fail and the reason is that the Write functions in https://github.com/nats-io/nats/blob/master/nats.go#L1668 error with "short write". In such a state the NATS connection is essentially broken as for some reason the underlaying TCP connection is dead.

It just appens, sometimes even directly after creating the conne

[2016-04-05 13:21] derekcollison commented on #174
Do you have any example code to reproduce? I will take a look regardless.

[2016-04-05 13:23] derekcollison commented on #174
Looks like it can only come from the write to the underlying socket.

https://golang.org/pkg/bufio/#Writer.Write
https://golang.org/src/bufio/bufio.go?s=14841:14893#L578

[2016-04-05 13:30] longsleep commented on #174
Yes it comes from the underlying socket. I do not know why it happens (connected to 127.0.0.1:4222 on Linux).

Is there any chance the NATS connection could recover there?

Reconnecting (by restarting gnatsd) gets detected properly, but the outbound publish buffer is still broken and will raise the error forever.

I do not have a easy to use example, but i am working on https://github.com/longslee

[2016-04-05 13:34] derekcollison commented on #174
I will take a c loser look and see if there is a better way we can handle the situation. Thanks for the feedback.

[2016-04-05 15:22] kozlovic commented on #174
I may be wrong, but I think the problem is the way the code used to create the nats connection. They are returning a copy of the nats connection: https://github.com/strukturag/spreed-webrtc/blob/v0.25.2/go/natsconnection/natsconnection.go#L58
They store in Connection, a nats.Conn, so they do the above, but I don't think this is correct. They should simply store a *nats.Conn and return nc.

[2016-04-05 15:34] longsleep commented on #174
@kozlovic that certainly needed fixing. But not sure how this it could be related. I changed this in https://github.com/longsleep/spreed-webrtc/commit/86fd0e49d21db4312d409a6a3a80e0ca00a5416a - if you are right the problem might not appear any more.

[2016-04-05 15:40] ColinSullivan1 commented on #174
To back up Ivan's comment, in my experience, short write errors have been a symptom of creating a copy of the NATS connection.

[2016-04-05 15:58] longsleep commented on #174
Ok, lets see if it start to happen again when no longer creating a copy. I will either close or report back probably tomorrow. Thanks all for you help so far!

[2016-04-05 16:16] derekcollison commented on #174
I should have made it an interface.. Maybe for 2.0

[2016-04-06 03:55] magiconair opened #175 "go vet: assignment copies lock value to tlsCopy"
Not sure if this is an issue but you might want to have a look. I've stumbled over this while playing with the latest go tip build. It is not reported by go 1.6.

[code]

[2016-04-06 06:50] derekcollison commented on #175
Thanks..

[2016-04-06 07:02] longsleep commented on #174
Not creating a copy of the nats connection indeed seems to have resolved the issue and i did not see any "short write" errors since.

I leave it to you folks to close this issue as i still think that the behavior if there is a "short write" could be improved.

[2016-04-06 15:30] derekcollison commented on #175
Currently there is no lock structure and as you point out it does not complain in 1.6. I would imagine they added a lock, so we will keep an eye out as new Go releases hit. Thanks again.

[2016-04-06 15:30] #175 closed

[2016-04-08 15:14] kozlovic commented on #174
I am closing because if you look at `bufio.go`, once `Write()` encounters an error, that error is saved in the `Writer` structure. The error is checked at the beginning of the `Write()` call, and if not nil, that error is returned. In other words, there would be no way to recover from an error, "short write" or not.

[code]

[2016-04-20 02:26] jacktuck opened #178 "Possible to make `Request` return your own error?"
Using req-rep could I return nil for _result_ and my own error for _err_?

[code]

[2016-04-20 03:49] mcqueary commented on #178
Hi Jack (@jacktuck). What is it that you are trying to accomplish?

Request() is just a convenience API that does the following things:

- Creates and subscribes to a unique INBOX subject
- Publishes the provided message to the provided subject
- Waits for a response until the specified timeout expires
- Returns either the response, or an (NATS) error.

If the payload of the response that you send

[2016-04-20 04:51] #178 closed

[2016-05-06 15:22] byrnedo opened #180 "Which repo is the right one"
Is it apcera/nats or nats-io/nats? I've had a bit of dependency hell for the last hours where one of my packages imported apcera instead

[2016-05-06 15:24] derekcollison commented on #180
https://github.com/nats-io/nats

[2016-05-06 15:24] #180 closed

[2016-05-09 08:03] JesusIslam opened #181 "What Error if MaxReconnects Reached?"
I need to reconnect when maximum re-connection attempt (possibly by creating a new connection) reached for my long running service.

How do I know if Publish or Request got the error?

What error type it returns (maybe nats.ErrConnectionClosed)?

Or can I give the MaxReconnect a value of -1 for infinite reconnection attempt?

[2016-05-09 14:57] derekcollison commented on #181
The Publish and Request will error correctly if the connection is closed, and yes -1 will make the reconnects try forever.

[2016-05-09 14:57] #181 closed

[2016-05-11 15:08] JesusIslam commented on #181
@derekcollison Thank you for the confirmation.

[2016-05-13 17:29] kozlovic opened #183 "SetPendingLimits() does not check for proper values"
One could pass negative or even 0 for either limit and cause all messages to be dropped. Question is: do we want to allow `0` as a way to say "don't check for that", as in `SetPendingLimits(100000, 0)` if one would want to set a limit on the number, but not the size?

[2016-05-13 17:31] kozlovic opened #184 "Should value returned by `Dropped()` be an int64?"
Internally, `dropped` is defined as `int`. Since this is the total of dropped messages for the lifetime of the subscription, the number could potentially be high. Should we make this a `int64`?

[2016-05-13 18:43] derekcollison commented on #183
What should we be looking for? What are sane values?

Would we allow SetPendingLimits(1, 1)?

[2016-05-13 18:48] derekcollison commented on #184
If it is internal, we could change it. Do we surface as an int at any point in time? I think 2B should suffice but I understand what you are saying.

[2016-05-13 18:49] kozlovic commented on #183
Not sure what we be a sane floor for both limits. Maybe we should just check that it is not `0` (does not make sense to have a subscription and prevent it from receiving anything) and maybe accept any negative value as a no-limit meaning? These could work independently, that is, `SetPendingLimits(xxx,-1)` means we don't care about the accumulated size and `SetPendingLimits(-1,xxx)` means we don't

[2016-05-13 18:50] kozlovic commented on #184
We have the exported api `Dropped()` that returns an `int`.

[2016-05-13 18:51] kozlovic commented on #184
But I agree that if an application drops more than 2B messages, there are other problems than getting a negative value returned by `Dropped()`.

[2016-05-13 19:08] derekcollison commented on #183
Seems reasonable. Want to do a PR?

[2016-05-13 19:08] derekcollison commented on #184
Since we have a public commitment to int, I say we leave as is.

[2016-05-13 19:08] #184 closed

[2016-05-13 19:12] kozlovic commented on #183
Sure.

[2016-05-13 21:07] #183 closed

[2016-05-18 17:24] kozlovic commented on #184
As a remark, it seems that `int` is same size as `uint` and can be 32 or 64 bits. https://golang.org/ref/spec

[code]
I think we should refrain from using `int` in the future for public APIs or when predictability of the range is required.

[2016-05-18 18:36] derekcollison commented on #184
That is a true statement, and golang can be deployed on 32bit, but its quickly fading, almost always is 64bit.

[2016-05-21 11:24] dahankzter opened #186 "./main.go:18: undefined: nc in nc.ConnectedUrl"
I have no idea what is wrong...

At first I thought it was Gb's fault getgb.io but now I can't even this little thing to compile using vanilla go.

[code]

Any idea?
I have other fairly large code bases working without any problems.

[code]

[2016-05-21 11:32] dahankzter commented on #186
Actually I am really daft today... I see the fairly obvious typo now. Doh!

[2016-05-21 11:32] #186 closed

[2016-05-25 03:15] ibmendoza opened #187 "NATS production users"
I'd like to see logos of companies using NATS in production and put it in README.md (just like NSQ does https://github.com/nsqio/nsq/issues/470)

Just my two cents.

People are visual.

![nsq](https://cloud.githubusercontent.com/assets/10286947/15527094/f6fa0f4a-2269-11e6-8471-de910ecd666e.png)

[2016-05-25 07:14] #187 closed

[2016-05-26 16:54] kozlovic opened #189 "Use a default connect timeout when none is specified"
If one uses `Options` to connect, and creates a bare bone `Options` structure to set some of the options without setting `Timeout`, the `Connect` is going to fail with a timeout error. This is because `Connect` uses `Options.Timeout` for the low level TCP connect.

[2016-06-01 12:04] byrnedo opened #191 "Way to recover from panic with encoded conn"
Is there any built in way to recover from panics occurring within a subscribed callback? Like when using the protobuf or json encoding?

[2016-06-01 14:32] derekcollison commented on #191
Which panic are you seeing and does it happen in your callback or during decoding?

[2016-06-01 14:41] byrnedo commented on #191
There's nothing wrong in nats decoding, just wondering in the case of my callback throwing a panic for whatever reason. I see that there's an `AsyncErrorCB` option for instance, but is there anything similar in the event of a callback panic?

[2016-06-01 14:44] derekcollison commented on #191
If you are worried about your code, you can wrap or curry your actual subscription with one that catches any exceptions/panics.

[2016-06-01 14:57] byrnedo commented on #191
Ok thanks.

[2016-06-01 15:52] #191 closed

[2016-06-01 21:41] kozlovic commented on #189
Closed by #190

[2016-06-01 21:41] #189 closed

[2016-06-02 09:29] dahankzter opened #192 "Panic when publishing"
I saw this by accident and have no idea really why. Just thought I would drop it here.

[code]

[2016-06-02 15:09] derekcollison commented on #192
Thanks, will take a look.

[2016-06-02 15:29] kozlovic commented on #192
Would you please tell us what exact version you are using? Also, do you have the full stack by any chance? Thanks!

[2016-06-02 15:39] kozlovic commented on #192
Also, which Go version are you using?

[2016-06-02 16:15] kozlovic commented on #192
Ok, I wrote a non-NATS test case just to reproduce the error to understand better what's going on:

[code]
Running this will quickly produce the panic above or another type: `panic: sync: WaitGroup misuse: Add called concurrently with Wait`.

Digging more.

[2016-06-02 21:11] dahankzter commented on #192
go version go1.6.2 darwin/amd64

I am sorry but I don't have the entire stack. I think the supervisord logging rolled them out... :(
What happens is basically a large number of request/reply communications between several nodes in high frequency. Payload is sometimes large but the common case fits in the default max size.
A single nats connection is used concurrently in a controlled relatively sma

[2016-06-02 21:19] kozlovic commented on #192
Thanks. I don't think there is anything wrong with what you are doing. Have you noticed disconnects? Maybe a server restarted?
Also, which NATS client and server versions are you using? Thanks!

[2016-06-02 21:26] dahankzter commented on #192
No disconnects that I can see other than "controlled" ones such as during deploys etc.
Nothing while the apps are running.

nats-server version 0.8.0
from gnatsd-v0.8.0-linux-amd64.zip

[2016-06-02 21:32] kozlovic commented on #192
What about the client version? The stack shows that the client was trying to reconnect after processing an error. It can be after a socket read error, a parsing error or few other places. Unfortunately, we don't see what's the trigger. If you have restarted one of the server, that could be a valid reason for the client to try to reconnect.

[2016-06-02 21:38] dahankzter commented on #192
Client is from this version: 68e8b83fcd7d9bf07b42aa7218039823b0972853
I am using Gb to manage dependencies and that is the vendored version.

It may very well be that that is the case. The services was in heavy flux with lots of deploys. I was trying to be structured but it is possible that disconnects happen.

If that is the only obviously reasonable explanation judging from the code then it is p

[2016-06-02 21:41] kozlovic commented on #192
Ok thanks! I am sorry I don't find this commit from `git log` on master. Could you double check?

[2016-06-02 21:45] dahankzter commented on #192
Actually that commit was from the server that also gets pulled in.

fc85f44c1659ab6610d76fd6bd0e44ad2cadf697 should be the one.

[2016-06-02 21:53] kozlovic commented on #192
Thanks. I have never seem this issue myself, and I have been running a lot of tests with reconnects. Also, as far as I know, this has never been reported. So you may not see that again.
Still, I think we could change the code to avoid re-use of the wait group used to make sure some of the go-routines are finished before proceeding. I will keep you posted.

[2016-06-03 06:11] dahankzter commented on #192
Thx!

[2016-06-03 19:49] kozlovic opened #193 "Chan subscribers cannot receive more than 65536 messages (or 65536*1024 bytes)."
Any Chan subscribers will stop receiving messages after any of the above limit is reached.

[2016-06-03 20:26] kozlovic commented on #192
I may have to retract my previous comment because I am not really sure how this can happen. Would you agree to wait an see if you can reproduce and hopefully get the full stack to see if it gives me more clue on what's happening? As of now, for a given connection, I am not sure how we can have 2 `waitForExit` calls (or even a parallel execution of `wg.Add`) for a given connection.

[2016-06-04 06:40] dahankzter commented on #192
Sure no problem. Once this is properly integrated with the log collection I
can put a trigger on panics.

On Fri, Jun 3, 2016, 22:26 Ivan Kozlovic <notifications@github.com> wrote:

[2016-06-06 16:09] kozlovic commented on #192
Just curious, are you setting your client's PingInterval to a rather low value? Do you know if this app seem to have been otherwise communicating with the server without any issue at the time of the panic? In other words, was there inbound/outbound traffic when that happened?

[2016-06-07 15:52] pkieltyka commented on #193
is this a confirmed bug? sounds bad

[2016-06-07 16:01] kozlovic commented on #193
I believe so (pending review), but it appeared around https://github.com/nats-io/nats/pull/132 (not specifically this commit maybe, but around this work). That is, this is specific to the new subscription type `ChanSubscription` that was introduced in `1.2.0`.

[2016-06-07 19:19] rybit commented on #193
I confirmed this using a [tiny client](https://github.com/netlify/messaging/blob/master/nats-client/cmd/count_cmd.go) manually.

[2016-06-07 19:45] #193 closed

[2016-06-08 17:32] tomwilkie opened #195 "Should Connect return errors if it cannot connect?"
Currently, the client 'constructor' (`nats.Connect`) will return `nil, err` if it can't connect to NATS.  This behaviour puts a strict ordering on the start up sequences of my services; the NATS client is effectively instantiated in my `main()` function, such that the service cannot start if it can't contact NATS.  However my service are able to tolerate NATS not being there, and degrade gracefull

[2016-06-09 04:24] derekcollison commented on #195
I will take a look. In general, yes, I felt you should need to connect to a server at least once before a connection could be returned. We buffer messages while disconnected for some period of time until we hit limits, and we could re-use this logic. But we also have others pointing out that they do not want this behavior, and that they want the ability to control this behavior, or at least have a

[2016-06-13 12:52] kozlovic commented on #192
Closing for now. Don't hesitate to re-open if you have more info or, if you can reproduce, the full stack trace. Thanks!

[2016-06-21 10:21] phifty opened #196 "Please clearify fail-over behavior"
I was wondering what exactly happens, if a client is connected to two nodes and one node fails? The docs describe the reconnect-logic, but I didn't found out what happens with the published messages while the node is re-connecting. I would expect that the messages are send to the remaining node, but is this correct? The code seems to buffer the messages for the later re-connect. I'll do further te

[2016-06-21 11:42] kozlovic commented on #196
If by node you mean a NATS Server, then indeed, when a client gets disconnected from a server, and if configured to do so (URLs contain more than one server and options allow for reconnect), any publish or create of subscribers during the reconnect process are buffered and flushed once the reconnect succeeds.

Note that there is a default buffer size for published messages during a failover. Shoul

[2016-06-21 11:42] #196 closed

[2016-06-21 12:05] phifty commented on #196
Hmm... thanks for the information. Is there a way to make the client use the remaining working NATS server instead of buffering?

The background is that we have a couple of NATS servers on different machines and if one crashes at night, I would like that the traffic is routed through the other until the crashed one is repeared.

[2016-06-21 13:18] kozlovic commented on #196
That's what's happening. The buffering only happens during the interval the client reconnects to the other server. Suppose you have 2 NATS Servers, let's call them A and B. You have a client configured with a list of servers A,B. Say the client initially connects to A. A crashes. The client initiates the reconnection logic to B. Depending on the `Options.ReconnectWait`, it is possible that the rec

[2016-06-21 13:22] phifty commented on #196
That makes perfectly sense! Thanks for clearifying this.

[2016-06-30 15:20] ColinSullivan1 opened #197 "Add Tuning Parameters"
Additional parameters can be added to fine tune NATS for a particular OS/hardware.

These could include:
- Socket read/write buffer size
- IO Buffer sizes
- TCP nodelay

[2016-07-06 21:20] mikedanese opened #200 "nats should have a command line client"
Similar to redis-cli. This allows bash scripting and easy interactive diagnostics.

[2016-07-06 21:23] aricart commented on #200
Thanks for the feedback. Can you please elaborate a bit on the functionality that you are looking for and a sample session? Thanks!

[2016-07-06 22:15] mikedanese commented on #200
Initially, a repl (like the telnet interface) that terminates tls/autn(n/z) would be very useful. I can think of a few features that I would like to see.
* Easily publish a single message
* Subscibe to a subject and exec a subcommand for each message with the message as an arg[1]
* Expose info from admin interface like perf and health of cluster

There are probably more but I need to play around w

[2016-07-06 22:28] wallyqs commented on #200
For this case you can check out nats-top and exposing monitoring port fron the nats server via `gnatsd -m` :) https://github.com/nats-io/nats-top/releases

[2016-07-06 22:38] aricart commented on #200
the `nats-pub` example lets you easily publish a message:
`nats-pub <subject> <body>`

the `nats-sub` example lets you easily subscribe to a message:
`nats-sub <subject`

For the processing your pipeline could use something like `expect`.

[2016-07-13 09:07] perrohunter opened #205 "Published struct is never received by subscriber"
I'm trying to publish a struct to NATS but in the following case the struct is never received by the subscriber, I have other encoded structs that are actually being received, this is a case that is not working for some reason, any idea what could be happening?

[code]

[2016-07-13 11:34] derekcollison commented on #205
When I captured the error from nc.Publish() it returned the following.
[code]

Its good to capture errors ;)

The JSON marshaler only supports string key types for maps I believe.

https://groups.google.com/forum/#!topic/golang-nuts/xuFAnKfGMLE

[2016-07-13 11:34] #205 closed

[2016-07-19 13:10] Swampy821 commented on #200
I started a natscli for my own personal use with our micro-service project. You guys are welcome to use / contribute if you would like. https://github.com/Swampy821/natscli

[2016-07-26 02:47] steventanwc opened #208 "How to pub and sub with ack"
I have successfully run the Nats-Streaming Go clients to publish and subscribe and consume the message.

Would appreciate if someone can help me on how I pub and sub with ack and the ark results  can be called back in the client.

Another related question: If the message is delivered to subscriber successfully with an acr, will Nats Streaming Server automatically delete the message from the store?

[2016-07-26 15:17] kozlovic commented on #208
Closing this this was opened by mistake. Issue was opened in the go-nats-streaming repo: https://github.com/nats-io/go-nats-streaming/issues/101

[2016-07-26 15:17] #208 closed

[2016-08-22 04:56] steventanwc opened #213 "Find out which subscriber is connected"
Hi

Is there a way to find out the id of the subscriber who is online or offline currently?

Regards

Steven

[2016-08-22 14:15] kozlovic commented on #213
@steventanwc You have opened this issue against the client, so the answer would be no. In the server, you can query (with monitoring enabled and endpoint `connz?subs=1`) the list of subscriptions. However, the server does not keep the subscribers that are closed, so there is no way to get that list.

[2016-08-22 14:15] #213 closed

[2016-08-23 05:46] delfick opened #215 "Can we please have documentation on the clustering protocol?"
Hi,

We have a situation where we have gnats instances in a mesos setup, which means gnats instances can be killed and moved to somewhere else in the cluster at random times (i.e. a mesos slave going down).

We are currently running our gnats such that the --cluster is the same port as the -p option and the --routes points at the port our load balancer serves for the cluster of gnats.

This tends

[2016-08-23 14:55] kozlovic commented on #215
Are you asking about the protocol between servers and clients, or between servers? If so, this issue should be opened against gnatsd repo.

The first thing that comes to mind is that you should not be able to use the same port for `-cluster` and `p`, so I think you mean something different for port than just the port number.

What are the symptoms of the clustering falling apart? Which version of

[2016-08-23 15:10] ColinSullivan1 commented on #215
@kozlovic - Thanks for jumping in.  I've started looking at documenting the protocol.

[2016-08-23 23:05] delfick commented on #215
Ah yes, I did indeed mean to put this on the gnatsd repo, do you want me to recreate it there?

So what is meant to happen if --cluster -p have the same value?

The clustering appears to get into a split brain scenario. We're using 0.8.1.

We believe the problem has something to do with how we go to the load balancer to discover the other instances and can be sent back to the same server.

@ColinS

[2016-08-23 23:08] kozlovic commented on #215
Yes, please create issue against gnatsd.
`-cluster` and `-p` can't have the same value, the server would fail to start. Will try to 0.8.1, but tested with latest and definitively not possible. I would recommend using 0.9.4. There has been cluster issues fixed in the most recent releases.

[2016-08-23 23:09] delfick commented on #215
ok, fair enough, we will certainly look at that upgrade.

[2016-08-23 23:10] #215 closed

[2016-08-31 09:26] lukaf opened #217 "Pending messages cleanup"
Hi,

Is it possible to have an async subscriber stop receiving new messages and clean the existing ones present in the queue (inspected by subscription.Pending)?

Thank you!

[2016-08-31 15:20] ColinSullivan1 commented on #217
@lukaf Not really - a subscriber will continue to receive messages until it is closed, and at that point it will internally clean up any pending messages.  Could you describe your use case?

[2016-09-01 13:44] lukaf commented on #217
Hi @ColinSullivan1,

Thanks for the answer. Could you explain a bit what do you mean with 'until it is closed'? Does this refer to connection or subscription? And does cleaning up pending messages mean discarding them?

Basic use case would be gracefully stopping consumers, so that they stop receiving old messages but process current ones and the ones in the queue (pending).

Thank you!

[2016-09-01 17:21] ColinSullivan1 commented on #217
@lukaf No problem!  Sorry for the confusion - I was referring to the subscription being unsubscribed, but the connection close will do the same.  NATS is at most once delivery; when there is no longer interest so the messages will be discarded.

To avoid lost messages, I suggest you look into [NATS Streaming](http://nats.io/documentation/streaming/nats-streaming-intro)?  It will solve this problem

[2016-09-01 18:32] lukaf commented on #217
Wow, wasn't even aware NATS streaming exists. It looks like exactly what I'm looking for.
Thank you very much!

[2016-09-01 18:33] mcqueary commented on #217
@lukaf That's what we like to hear 👍

[2016-09-01 18:34] ColinSullivan1 commented on #217
Absolutely, happy to help!

[2016-09-01 18:36] #217 closed

[2016-09-05 18:57] riaan53 opened #218 "auto discovery and multi datacenter useage"
Hi,

Thank you for nats!

With the auto discovery thats been recently added how do I avoid my nats client in datacenter 1 to connect to the nats server in datacenter 2? For fallback it is awesome but under normal operation this would cause increased latency. Does the clients do perf/latency checking on the server routes to prioritize them?

Thanks!
Riaan

[2016-09-06 20:55] kozlovic commented on #218
No perf/latency checking. As of know, urls in the list are randomly tried. The reconnect process stops when a connection is fully established.
That being said, could you describe to me how you are using (or would expect the things to work) without auto discovery? How are your clients configured at the moment?

[2016-09-08 12:55] riaan53 commented on #218
Thank you for the info.

On the clients im just using the server list that gets passed to `nats.Connect` atm with only the nats servers thats in the same location.

So if I use it like that and set the `nats.DontRandomize()` will all the auto-discovered nats servers be added to the end of the list and only be used if all the others fail?

All nats servers from all datacenters are in full mesh to p

[2016-09-08 15:07] kozlovic commented on #218
That's right. But, know this: when the client library gets disconnected, it picks the next server on the list by popping the current server, putting it at the end of the list, then selecting the head of list as long as number of reconnect attempts are under `MaxReconnect`.

To illustrate, say you have a mesh of 4 servers `A`,`B`,`C` and `D` with (`A`,`B`) in datacenter 1 and (`C`,`D`) in datacente

[2016-09-09 13:48] mkabischev opened #221 "context.Context integration"
Hi.

In go 1.7 it was introduced context.Context interface. Are you going to support it in client?

[2016-09-14 20:21] riaan53 commented on #218
Thank you for the detailed explenation! Looks like it will work nicely if I set the dont randomize and set up events to notify me when the client reconnects to other datacenter. Thanks again for the awesome work.

[2016-09-14 20:21] #218 closed

[2016-09-15 21:11] vpol opened #222 "Are there any tricks to get BindRecvQueueChan to work with wildcard subscription?"
[code]
[code]

[2016-09-15 21:13] kozlovic commented on #222
The token separator is `.`, not `:`. So the subject `wc1:*:request` is not what you think it is ;-)

[2016-09-15 21:16] vpol commented on #222
Ah. Sorry. Didn't notice that.

[2016-09-15 21:38] vpol commented on #222
Hmm. It seems that replacing : with . doesn't solve the problem.
[code]

[2016-09-15 22:07] kozlovic commented on #222
With the code you posted last, I get this:
[code]
What are you trying to do?

[2016-09-15 22:09] kozlovic commented on #222
And I know it is just an example, but not sure what `wc1.*.request` buys you here since you are publishing either on `wc1.test.request` or `wc2.test.request`, which the `*` wildcard in the subscribe subject would match the `test` of your publish subjects.

[2016-09-16 08:16] vpol commented on #222
Sorry, my fault. Now it's fine. Thanks.

[2016-09-16 08:16] #222 closed

[2016-09-16 17:13] kozlovic opened #223 "DATA RACE with conn.LastError()"
Seems like `LastError()` does not use connection's mutex and can produce a data race as shown here:

[code]

[2016-09-16 18:17] #223 closed

[2016-10-07 14:16] arekkas opened #227 "nats-bench panics when message amount is 0"
[code]

[2016-10-07 14:56] aricart commented on #227
The `-n` flag is number of messages. Not message size.

[2016-10-07 14:57] arekkas commented on #227
thanks, i already updated the title :)

[2016-10-10 14:26] caniszczyk opened #230 "Consider updating to the Apache v2.0 License"
Apache has more protections regarding patents and is a more corporate friendly license :)

[2016-10-26 23:32] #227 closed

[2016-11-21 07:52] monopollly opened #240 "handler timeout"
**OK**
[code]

**NOT OK**
[code]

**WHY?)**

[2016-11-22 03:59] mcqueary commented on #240
Hi, thanks for your interest in NATS. Your example doesn't give us much context to go on (i.e. would not be compilable as provided), but here are a couple of educated guesses:

 *  A simple logic ordering issue, i.e. the call to `Subscribe()` is not completing before the `PublishRequest()` call inside of `Request()` has completed. This would be a common goroutine synchronization issue of some sort

[2016-11-22 10:42] dbskccc opened #241 "can i publish and subscrible from multiple go routine with one Conn?"
can i publish and subscrible from multiple go routine with one Conn?
or must be protected by mutex?

[2016-11-22 13:59] monopollly commented on #240
Thanks for answere!
sorry for abstract example;)

now I have this structure

[code]

I thin this is one handler for nats or not?
What I missed?

Sorry for annoy)

[2016-11-22 14:05] monopollly commented on #240
Thanks for answere! I got it!)

[2016-11-22 17:20] mcqueary commented on #241
Hi and thanks for your interest in NATS. The `Conn` is protected by its own internal mutex, so yes, it is thread-safe and you can use the public API calls safely on the same `Conn` from different goroutines.

[2016-11-22 17:20] #241 closed

[2016-11-22 17:20] #240 closed

[2016-11-22 19:24] monopollly opened #242 "too slow, whats the problem?"
I made a simple empty test on my 15 retina mac, (8gb) but is so slow...
could you explain about it?
Thanks!

1 server
1 client
1 thread

[code]
1 subscriber
[code]

subscribe function
[code]

and here is...
1887-2600 request per seconds:)
https://gyazo.com/e72b8f976bd15241ba8025787437fd31

how to get 30k, 100k, 1m?

[2016-11-22 19:26] monopollly commented on #242
server run via docker, maybe so big overhead?

[2016-11-22 19:29] kozlovic commented on #242
`Request()` is a request reply, which means a round trip with the server. The number seem low, but still, a request/reply is a synchronous operation and not going to perform as well as simple publish or subscribe.

A single stream of request/reply will be bounded. To improve performance you would need to increase the number of processes/go routines/threads/etc. doing request/reply in parallel.

[2016-11-22 19:29] #242 closed

[2016-11-22 19:49] monopollly commented on #242
thank you!

[2016-11-23 02:14] dbskccc commented on #241
thanks for the clarification! the info should  add to the README.md.

[2016-11-28 04:13] tamnm opened #244 "Extreamly slow when send messages to mutiple Topics"
Hi,
I did a test and result is weird. Please take a look

1. I created 300 subscription that subscribed  300 Topic.
2. I Publish 1 message to each Topic.
3. Wait for all subscriptions receive first message.
    (takes over **290,000ms** to send 300 messages to 300 Topics (1 message per Topic))
4. Send 10 messages to each Topic
5. wait for all subscription receive 10 messages
    (take 7ms) (takes

[2016-11-28 04:34] tamnm commented on #244
I posted in wrong repository

[2016-11-28 04:34] #244 closed

[2016-12-01 09:34] thnt opened #245 "Bind to an interface channel not work?"
[code]

[2016-12-01 23:17] ColinSullivan1 commented on #245
@thnt , Thank you for using NATS!

I appreciate your code snippet for this issue.  Underneath the NATS JSON encoder, we use the `encoding/json` package provided by go, which does not support unmarshalling JSON into an interface (interfaces have no underlying data structure).

If you add an error handler to the NATS connection:
[code]
You'll see this error message:
`nats: Got an error trying to unm

[2016-12-01 23:17] #245 closed

[2016-12-16 16:24] JensRantil opened #246 "Readme error"
https://github.com/nats-io/go-nats#basic-usage makes calls to `Connect`, but in one example it returns an error as second return parameter, while in the second example it only returns a single item.

[2016-12-18 03:38] monopollly opened #248 "Add Remote IP"
So, will be awesome if I can get recieve remote IP adress from publishers.
Could I get it now? How?

I mean server have to save IP from subscribers, and I have to get it on request
I need it for logs and security, for ex
msg.Data, msg.IP

Could you add this option?

[2016-12-19 02:43] derekcollison commented on #248
http://demo.nats.io:8222/connz

[2016-12-19 02:43] #248 closed

[2017-01-02 23:19] drasko opened #249 "nats-bench.go breaks Travis"
The command "go get -v ./..." exited with 2.
https://travis-ci.org/mainflux/mainflux-core/builds/188357908

[code]

[2017-01-03 01:09] kozlovic commented on #249
@drasko I think this is due to the repo rename (https://github.com/nats-io/go-nats/pull/239). As you can see above you have references to `go-nats` and `nats`. You need to update the mainflux's vendor directory.

[2017-01-03 08:46] drasko commented on #249
No, I don't, and `glide.yaml` sees that well:

[code]

However, I see that you reference `vendor/github.com/nats-io/nats/examples` in NATS 1.2.2, which is your latest official release, and this freaks-out glide.

I think you will need to push new release with these references cleaned ;)

[2017-01-03 15:54] kozlovic commented on #249
In 1.2.2, the repo was not renamed, so references to `nats-io/nats/` are normal and expected. There is no reference to `nats-io/nats` in current master (since we have renamed to `go-nats`). It looks like you are vendoring nats twice. You need to remove the vendor reference of `nats-io/nats` and keep `nats-io/go-nats` or vice-versa: https://github.com/mainflux/mainflux-core/tree/master/vendor/githu

[2017-01-03 16:10] drasko commented on #249
I know, but `vedor` dir is auto-generated by [Glide](https://github.com/Masterminds/glide), which takes last stable NATS (https://github.com/mainflux/mainflux-core/blob/master/glide.yaml#L12-L13), looks inside it and there sees references to nats-io/nats and vendors this too.

What I want to say is - if you keep nonexisting references in your stable release this will confuse Glide (and potentially

[2017-01-03 16:30] kozlovic commented on #249
Not sure what you mean here? The latest release `1.2.2` was issued before the repo name change, so of course this release will refer to `nats-io/nats`.
Master is currently with the repo name change to `go-nats` and has references only to `go-nats`.
I wonder if your vendoring tool is not using the current repo name, but then fetched the tag `v1.2.2` which is still with the old name.

I will ask if

[2017-01-03 16:39] drasko commented on #249
@kozlovic Yes - vendoring tool gets release v1.2.2. But it finds the release to fetch by analyzing the current Mainflux code and finds `go-nats`. To it tries to vendor `go-nats`, version 1.2.2, but inside v1.2.2 it finds a references to `nats` and tries to vendor this also (which kind of makes sense, because it vendors all the references of dependencies).

[2017-01-03 16:41] drasko commented on #249
I've found a workaround for Mainflux, I just opened the bug to let you know. No need for rushing new release, as long as we are concerned.

[2017-01-03 16:47] kozlovic commented on #249
Yes, you should not do `go get` when vendoring, that's the point of vendoring, to control exactly what version/tag you need, etc.. Closing this issue for now.

[2017-01-03 16:47] #249 closed

[2017-01-03 16:54] drasko commented on #249
Agreed, and this is exactly what I changed yesterday in Travis script ;). Thanks.

[2017-01-03 18:16] glycerine opened #250 "Q: publish to all servers in a cluster?"
Is it possible to have a publishing client send a copy of each published message to each server in a nats high-available server cluster?

Note that I'm trying to understand how to achieve high-availability, to necessarily recommending any  change to nats.  If this question doesn't make sense, because a server cluster already guarantees that all servers see all messages, just let me know.

[2017-01-04 00:31] derekcollison commented on #250
As much as NATS makes guarantees, it will make sure to attempt to send a message received from a publishing client to all servers in a connected cluster.

[2017-01-04 00:31] #250 closed

[2017-01-04 18:35] #246 closed

[2017-01-11 16:22] signull opened #251 "Requirements for HA"
Hello @derekcollison

I love NATS however the company I work for wont go with it because they do not see obvious documentation about HA, CLUSTERING, and in addition they want to see a performance shocker. I know that as its written in GO its already performing at a much better rate. However adding a selling point in picture/graphs setting, showing how much more operations NATS can perform against

[2017-01-11 18:14] derekcollison commented on #251
Thanks, will have someone reach out.

[2017-01-11 18:21] kozlovic commented on #251
Are you referring to NATS or NATS Streaming?

[2017-01-11 18:45] signull commented on #251
https://NATS.io

On Wed, Jan 11, 2017 at 1:21 PM, Ivan Kozlovic <notifications@github.com>
wrote:

[2017-01-11 18:59] kozlovic commented on #251
There is [this](http://nats.io/documentation/server/gnatsd-cluster/) and [this](https://github.com/nats-io/gnatsd#clustering) in the NATS Server repo itself. What type of information would you be looking for?

Note that NATS Streaming does not support clustering at this time, so there is no documentation for that.

Some independent benchmark between NATS Streaming (single node) and Kafka: http://b

[2017-01-11 19:27] bjflanne commented on #251
@signull hopefully the info @kozlovic has provided helps, but be great to sync up on a short call to learn more about your use case and what you and team are trying to do (beyond the obvious gleaned from the thread ;) ) ...I'm the Community Manager for NATS and if you send me a few times that might work we can set that up if you want. My email is: brian@nats.io

[2017-01-11 19:50] signull commented on #251
After re-reading your site a few times I feel like I have a better handle
on things. I do see i am confusing the NATS server with the Streamer on a
few key notes.

What I would really like to see is maybe a blogpost with some graphics
doing a comparison with a diagram of a classic Kafka setup with clustering
and data redundancy vs a NATS.io implemented version.  Sadly comparing
NATS.io to lets say

[2017-01-11 20:21] bjflanne commented on #251
@signull -- First of all - thanks for the context, this is helpful (and good/_actionable_ feedback as we fine tune things on the site et al). Just wanted to make sure you saw in the several links @kozlovic Ivan provided, that one is for NATS Streaming compared to other message queues - (not NATS Server.) The link I am referring to is: http://bravenewgeek.com/benchmarking-commit-logs/ .

The 2nd ha

[2017-01-13 19:20] signull commented on #251
@bjflanne I got a chance to look at the benchmarking. It's really impressive. However the the team and I have the major concern of no HA for the streaming. Any preliminary estimates to when that would be available?

[2017-01-16 20:25] bjflanne commented on #251
@signull -- hope you had a great w/end; we are currently underway in the design phase of clustering and it's top of mind on roadmap. AFAIK we are looking at making clustering available in 1st half of this year. -- Do you think we can sync briefly on a short intro call w/ you and team to better understand your use case, requirements, etc in this area?

[2017-01-22 00:03] oscarvesga opened #253 "How do a test with the subscrition and publisher metods in the same file?"
Hi, I am try doing a test where I can prove the publish and subscribe of a message. I used a docker image `$ docker run -d --name $(NATS_NAME) -p $(NATS_PORT):4222 nats`

        import stan "github.com/nats-io/go-nats"

        URL := "nats://localhost:4222"
	sc, err := stan.Connect(URL)
	commons.Check(err)
	defer sc.Close()

	g := goblin.Goblin(t)
	g.Describe("ExecuteMutation", func() {
		g.It("

[2017-01-22 00:07] KEANO3 opened #254 "GOB decoding an interface"
I'm trying to receive an interface through NATS like the guy in issue #245
I know that JSON can't help us here (directly) but GOB can.

After taking the example from #245 and upgrading it with GOB it looks like this:

    type Event interface {
        GetName() string
    }

    type event struct {
        Name string
    }

    func (e event) GetName() string {
        return e.Name
    }

    f

[2017-01-22 01:48] kozlovic commented on #254
As in the previous issue, if you use the async error handler (`nc.SetErrorHandler()`), you would see the following message:
[code]
I see two ways of fixing this. Either you use the concrete type for the receiving channel:
[code]
Or, you need to send an `Event`. For instance, you could have the following function:
[code]
Then, send this way:
[code]
That works for me. Let me know.

[2017-01-22 01:57] kozlovic commented on #253
It is a bit confusing since you use `stan` for `nats`, which as you may or may not know, `stan` is the code name for the nats streaming product (there is a `go-nats-streaming` repo) ;-)

Anyway, assuming that `commons.Check(err)` did not capture any error, I think that the problem is simple: you are sending a message and the function will return before the subscriber has a chance to receive it.
In

[2017-01-22 01:57] #253 closed

[2017-01-22 06:04] arulrajnet commented on #200
You have to install [ruby-nats](https://github.com/nats-io/ruby-nats) to use `nats-pub` and `nats-sub` command

For Ubuntu 16.04
[code]
Now run

[code]

[2017-01-22 17:26] KEANO3 commented on #254
The concrete type doesn't do the trick in my case as I use different implementations.

    type Name interface {
        Name() string
    }

    type Organisation struct {
        name  string
        taxID string
    }
    func (o Organisation) Name() string {
        return o.name
    }

    type Person struct {
        title     string
        firstName string
        lastName  string
    }

[2017-01-23 15:39] aricart commented on #200
There are similar CLI for go-nats, java-nats, etc.

[2017-01-23 15:39] #200 closed

[2017-01-23 16:30] kozlovic commented on #254
@KEANO3 Again, the error callback would tell you that `Person` (or `Organization`) does not have exported fields, so that can't work.
If you fix that, add `gob.Register` both `Organization` and `Person`, and two `newOrganization` and `newPerson` functions that return the interface `Name` and send that, it will work ok.

[2017-01-23 16:30] #254 closed

[2017-01-25 08:42] rfw opened #256 "NATS single node guarantees?"
Hi all,

I'm wondering if, in a single node setup of NATS, the following guarantees hold:

- a publisher will be notified if they failed to publish a message if their Flush() operation failed (the publisher will know if their connection was interrupted to NATS during publish)

- a subscriber will always receive a Flush()ed message or encounter a connection error (the message may be lost, but the s

[2017-01-25 15:52] mcqueary commented on #256
Hi,

Flush() sends a PING to the server, forces a flush of the underlying
buffered TCP connection, and awaits a PONG response, thus ensuring that any
previously buffered messages on the connection have been sent to the
server. An error is generated if no PONG is received within the timeout
period (default 60s in most clients - use FlushTimeout() if you want to
tweak that).

So yes, if Flush() succ

[2017-01-25 15:58] ColinSullivan1 commented on #256
@rfw, Thank you for your interest in NATS!

Regarding the `Flush()` operation, should the server goes down as you are calling flush, you'll get a connection error (`ErrInvalidConnection`, `ErrConnectionClosed`), or a timeout error (`ErrBadTimeout`).  Note, this indicates the flush may have failed, not necessarily that it did with respect to what happens in the server.

Flushing does not guarantee

[2017-01-25 17:45] rfw commented on #256
Hi Colin and Larry,

Thanks for your replies. My use case is to optimistically broadcast updates of my data store to subscribers – I don't care if messages are lost or really even received out of order, I just need to make sure that if a message was lost, the client can resubscribe and also re-fetch the latest state of all data they're interested in from the store.

If the server was terminated be

[2017-01-25 18:13] ColinSullivan1 commented on #256
@rfw, Absolutely, happy to help!

Yes, the subscriber can detect a broken connection through callbacks setup on the NATS connection:
[code]
In your case, this should be very straightforward - when a reconnect handler is invoked, you know there was an interruption of service, but the connection has been re-established, and you can then fetch any missing data.

[2017-01-25 18:17] rfw commented on #256
Perfect, thanks for your help!

[2017-01-25 18:17] #256 closed

[2017-01-25 19:30] #230 closed

[2017-02-10 07:22] yiyiyaya opened #262 "“msg <- ch” should be “msg = <- ch”"
in readme

[2017-02-10 09:48] Ulexus opened #263 "Async handler/callback blocks"
I expect, when defining a handler, that each execution of the handler will be performed in a goroutine (as, for instance, http handlers are).  Instead, the execution of the handler [blocks its subscription until it returns](https://github.com/nats-io/go-nats/blob/master/nats.go#L1449).

Due to the variable `nats.Handler` signatures, trying to wrap such a handler in a goroutine with middleware is r

[2017-02-10 14:28] Ulexus commented on #263
Upon further consideration, I believe the current implementation is the correct implementation.  Unlike a web server and web proxy setup, NATS' subscription system is highly reflexive of flow control, and forcing the handler to control flow in that way is a supremely useful feature.

I think it would be useful to document this design intent in some way (at least, that is more obvious that my feebl

[2017-02-10 14:28] #263 closed

[2017-02-10 16:59] mcqueary commented on #263
Another reason we have implemented it this way is ordering. Forcing a
single goroutine to execute the handler as each message is received on the
connection ensure sequential order of processing, which would NOT be
guaranteed if each invocation occurred in its own handler.

Of course, if you don't care about ordering, and have potentially
long-lived handler logic, you can always  spawn a goroutine

[2017-02-10 17:00] Ulexus commented on #263
Another good point, yes.  Thanks!

[2017-02-10 20:17] mcqueary commented on #262
Thanks for reporting this; we'll address it in the next round of doc updates.

[2017-02-12 03:37] glycerine opened #264 "client deadlock on shutdown"
At slightly downstream of latest e6bb81b5a5f37ef7bf364bb6276e13813086c6ee, on my minhealth branch at 642252384fee809e860969315681f9499a92a733, I find:

When stress testing the health agent I noticed a deadlock in the nats client logic. It happens if I spin up 10-50 clients and shut them down, very quickly. The last two clients frequently deadlock.

There are 5 deadlocked goroutines are on the clie

[2017-02-12 03:48] glycerine commented on #264
Ah. I think my limited sized communication buffers, used for in-memory transport, were at fault. If I raise their sizes, I don't see the deadlocks. So closing issue.

[2017-02-12 03:48] #264 closed

[2017-03-02 21:27] #262 closed

[2017-03-03 15:40] Zambiorix commented on #195
Is there any progress on this one?
I'm also want to leave the connection status internal.

I'm also using Aerospike DB and they have the same behaviour for client startup.
But they also have an option "FailIfNotConnected" that you can set/unset.

Can go-nats use the same approach? Offer an option to turn off connection failure at startup?
Once it is running, it'll connect/reconnect when servers ar

[2017-03-04 00:28] mcqueary commented on #221
Hi Mike (@mkabischev)! Sorry that no one has followed up on this until now. We have no immediate plan to introduce contexts in the client (that I know of). We'd be very interested in hearing your use case, though. How would you like to use contexts in the client? How often do you think would you use them? What would the benefit to you be in terms of implementation time/reduced complexity? Etc.

[2017-03-04 01:13] mcqueary commented on #195
Hi @tomwilkie @Zambiorix We rarely view a fundamental behavior change as trivial :) At a minimum, I suspect it would introduce new failure scenarios that we'd need to test for. Additionally, for consistency, we'd want to implement it across all clients we support.

We're undertaking a new round of roadmap planning and review over the next few weeks and will discuss further as part of that.

[2017-03-06 13:22] petemiron commented on #192
New report from Google Groups:
encountered a panic in one of my NATS clients:

[code]

It seems like I have had the same problem described here (almost 10 months old, ticket closed): https://github.com/nats-io/go-nats/issues/192. I don't have the full stack that occurred either.

I believe this is related to my STAN server being restarted and also that my client is configured to reconnect infinite

[2017-03-06 22:08] mcqueary commented on #251
This issue was moved to nats-io/nats-site#214

[2017-03-06 22:08] #251 closed

[2017-03-07 17:17] #192 closed

[2017-03-09 12:04] mkorolyov commented on #221
Hi Larry (@mcqueary).
It became useful when you have for example micro service based architecture.
Single request from client needs to go through a bunch of internal services via some transport(e.g. great MQ NATS).
In this case we need to wrap all internal requests with request deadline logic manually, while all necessary data is in instance of `context.Context`.
Actually it is not a big problem,

[2017-03-09 14:32] jack0 commented on #221
It would be useful for us too to have built in context.Context support, right now we wrap each of the messages with certain fields in the context as well such as the request ID so we can do tracing of nats requests

[2017-03-10 14:56] mkabischev commented on #221
Hi @mcqueary. As @mkorolyov and @jack0 mentioned `context.Context` is used for timeouts and cancelations.

Also it would be great to have feature like [http tracing](https://blog.golang.org/http-tracing). Using it we`ll able to integrate nats client with `opentracing`.

[2017-03-15 17:23] shanna opened #269 "Intermittent TLS connection errors on ARM."
I haven't done a lot of investigation yet but I'm getting a TLS connection error on go1.8.linux-armv6l from go-nats on a bunch of RPI3's:  `server connection error tls: received record with version 4552 when expecting version 303`

I have `nats.MaxReconnects(-1),` but I'm not seeing reconnect attempts after above error either. I haven't been able to replicate on amd64. I get the error roughly 20%

[2017-03-15 17:26] kozlovic commented on #269
@shanna I wonder if this would not be caused by https://github.com/nats-io/gnatsd/issues/432.
If that's the case, you may want to increase the server's TLS timeout through configuration to see if it reduces the error occurrences.

[2017-03-15 17:39] shanna commented on #269
The server isn't under heavy load, it's got almost no traffic (~1 message a minute tops) and the clients aren't all trying to connect at the same time. The clients are working quite hard though. They are doing a load of HTTPS traffic while nats is trying to establish the first connection.

[2017-03-15 18:00] wallyqs commented on #269
@shanna just curious, but around how long does it take before attempting to connect until getting `server connection error tls`?

[2017-03-15 18:38] kozlovic commented on #269
@shanna Sorry. What I meant is that this is probably due to heavy load, but instead that the TLS handshake times out and the server sends an authentication timeout message while the TLS connection is not fully established, causing the error you are reporting.
I would still recommend that you increase the TLS and authentication timeout to see if it helps.

[2017-03-15 18:51] kozlovic commented on #269
@shanna Note that the server defaults the TLS timeout to a mere 0.5 seconds if you did not configure it.

[2017-03-15 18:54] shanna commented on #269
@kozlovic ah ok, yeah that could be an issue over wifi. I'll adjust natsd tomorrow and report back.

[2017-03-16 11:03] shanna commented on #269
Increasing the TLS timeout has fixed the TLS connection issue it seems.

The lack of reconnect attempts that followed the TLS error was because that initial connection is required in go-nats and I'd missed that. It makes sense in a lot of cases I guess since it validates the credentials. I've refactored the code on my end since a nats connection is only desired not required.

Thanks for all your h

[2017-03-16 11:03] #269 closed

[2017-03-20 17:45] rusenask commented on #221
hello, any progress on this?

[2017-03-20 17:46] mkorolyov commented on #221
@rusenask
Hi, didn't get any comments(approve/decline) from @mcqueary about it. Don't want to spend time and this PR will not be merged :)

[2017-03-20 17:51] rusenask commented on #221
from our case it would be useful to have context with cancellation on Request() function. In some cases we will need to cancel these requests in bulk and using context would be extremely helpful :)

[2017-03-20 19:08] ColinSullivan1 commented on #221
@rusenask , @mkorolyov Apologies for the delay here.  We do see merit to your suggestion, and do strive to keep NATS up to date with the go ecosystem.  I wanted to let you know that we're aware of this issue, we'll discuss the best way to move forward.  While this doesn't appear to be a roadblock for you, it does sound like a nice feature.  That being said, given the NATS tenet of simplicity and t

[2017-03-20 22:37] rusenask commented on #221
what about additional function? maybe something like
```func (c *EncodedConn) RequestWithContext(ctx context.Context, subject string, v interface{}, vPtr interface{}, timeout time.Duration) error {```
Although it looked prettier in my head than what it looks like when written down.

Another option would be to have a different connection type, similar to plain conn and encoded one where Publish, Su

[2017-03-21 16:10] ColinSullivan1 commented on #221
@rusenask , Thanks, the team and I always appreciate hearing that!

IMO, `RequestWithContext` sounds like a great place to start, although I'd begin a layer lower with a the standard conn `RequestWithContext` API, then wrap an encoded conn `RequestWithContext` API around it.

Would you think the timeout would work better as part of the context (`context.WithTimeout(...)`) versus being passed as a

[2017-03-21 16:28] rusenask commented on #221
looks great, I would definitely prefer `ctx, cancel := context.WithTimeout(context.Background(), time.Duration(5*time.Second))` and then ctx passed as a parameter since in some cases users might call `cancel()` even before the timeout.

[2017-03-21 19:20] mcqueary opened #270 "Add no_local option to CONNECT"
See nats-io/gnatsd#453

[2017-03-21 19:35] ColinSullivan1 commented on #221
@rusenask , Thanks.  I think cancel will still work with the proposed API (although I did ignore it in the snippet above - sorry).

After some discussion with the team, the best approach we see involves three new APIs:
* `func (c *EncodedConn) RequestWithContext(ctx context.Context, subject string, v interface{}, vPtr interface{}) error`
 * `func (nc *Conn) RequestWithContext(ctx context.Context,

[2017-03-21 19:46] rusenask commented on #221
Looks great :)

[2017-03-29 12:37] rohitjankar opened #271 "golang concurrent queueing workers with multiple subscribers"
I wanted to creating golang subscriber client,

My requirement is as follows,
    1. It should work in infinite loop to listen input events.
    2. Concurrent execution with multiple workers.
    3. Workers should work on its own queue.

Any help appreciated.

[2017-04-05 04:53] arden opened #272 "why go-nats couldn't support websocket?"
why go-nats couldn't support websocket?

[2017-04-05 23:39] mcqueary commented on #272
Please discuss this under [gnatsd #315](/nats-io/gnatsd/#315).

[2017-04-05 23:39] #272 closed

[2017-04-05 23:58] mcqueary commented on #271
Hi Rohit (@rohitjankar), your problem sounds like a great candidate for a [Queue Group](https://github.com/nats-io/go-nats#queue-groups).

[2017-04-15 09:58] ZhiqinYang opened #277 "death lock problem"
i wrote a test like this :

    last := time.Now()
    var cnt int64
    var wg sync.WaitGroup
    nc, err := nats.Connect(nats.DefaultURL)
    if err != nil {
        log.Fatal(err)
    }
    ec, err := nats.NewEncodedConn(nc, nats.JSON_ENCODER)
    if err != nil {
        log.Fatal(err)
    }
    defer ec.Close()
    sendCh := make(chan []byte)
    ec.BindSendChan("test", sendCh)
    recvCh := m

[2017-04-17 09:02] mkorolyov opened #278 "Encoder.Decode() doesn't invoked for simple subscription."
Hi,

why current implementation of client doesn't invoke Encoder.Decode() for simple subscription with handler type `handler := func(m *Msg)` ?
i am speaking about `https://github.com/nats-io/go-nats/blob/master/enc.go#L188`

Case that i met is when i need to register customer Encoder i expect it to be called.

Thanks

[2017-04-17 15:28] derekcollison commented on #278
Can you provide us more ifa complete program that shows the behavior? Is the encoder custom? Has it been regsitered?

[2017-04-17 16:41] mkorolyov commented on #278
@derekcollison Hi,

yes, it is custom encoder that implements Encoder interface. It has been registered, but it is not invoked bc of the logic i pointed above. actually that logic isn't connected to Encoder implementation. it just doesn't invoke it on described condition(if subscribed handler declared as `func(msg *Msg)`

[2017-04-17 16:57] kozlovic commented on #277
@ZhiqinYang I see several issues with your test program, but what is mainly happening as you point out from the server's log file, is that the consumer is not consuming fast enough. When this happens, the server closes the client connection. Even if the client library reconnects, it may have missed some messages which may cause your client to wait indefinitely (since you add to the wait group).
He

[2017-04-17 16:57] #277 closed

[2017-04-17 18:22] derekcollison commented on #278
If you are willing to send us a complete example that would help us in looking at the issue.

[2017-04-17 19:10] mkorolyov commented on #278
@derekcollison have you looked at the code that i posted? it is not an issue, it is current documented solution in `enc.go`. I am asking for motivation for it and if it will be possible change it, or not if motivation will be sufficient.

[2017-04-17 19:37] kozlovic commented on #278
If I understand correctly, the code you are pointing to is the case where the user provided a handler of the form `func (m *nats.Msg)`, in which case, why would the library decode since the user specifies that the incoming data is expected to be a raw, default, `nats.Msg`?

[2017-04-17 19:39] mkorolyov commented on #278
@kozlovic yeah, it could be raw nats.Msg with Data in it encoded in custom way(gzip, base64, whatever).

[2017-04-17 19:58] kozlovic commented on #278
If you use a custom encoder, you first need to register it using `RegisterEncoder()`. Then, create an `EncodedConn` calling `NewEncodedConn()` with the encoded type string you used to register your encoder.

From that connection, when you call `Subscribe()`, you would then pass an `Handler` that the library will invoke after calling `Enc.Decode()`, and will pass the decoded object to the `Handler`

[2017-04-17 20:25] kozlovic commented on #278
For instance, here is a really simple example of creating my own encoder/decoder that simply prepend the message payload with `@@IK:` when encoding, and strip it off when decoding. Notice the use of a custom object. As you saw, using `nats.Msg` would cause skipping the decoder:
[code]

[2017-04-18 09:29] mkorolyov commented on #278
@kozlovic So, if i will define a copy of nats.Msg(a struct with same fields) and subscribe endpoint that expect it in params, Encoder.Decode() will be invoked?

My setup already in production thats why i can't change data representation, bc now it is nats.Msg.

Go it, thanks guys a lot!

[2017-04-18 09:29] #278 closed

[2017-04-24 09:27] altSoftLLC opened #283 "func (s *Server) SetClientAuthMethod(authMethod Auth)"
The new version does not have func (s * Server) SetClientAuthMethod (authMethod Auth)

Bring her back. Because you need the ability to override the authorization method for clients and routers.

[2017-04-24 09:28] #283 closed

[2017-04-24 15:01] bobbytables opened #284 "Conn interface?"
Is there a reason that there's no interface provided with this package for `Conn` ? It seems a bit odd to me. It's easy to implement but curious why it's not in here.

[2017-04-24 15:47] derekcollison commented on #284
This client was originally written when Go was at version 0.56. I was new to learning Go as most everyone else was at the time. So no real reason, and I agree, should be an interface.

[2017-04-24 15:47] #284 closed

[2017-04-28 23:17] davisford opened #287 "Question on request/reply - one-to-many"
Hi, I just have a quick question about nats behavior with request-reply.

The [docs here](http://nats.io/documentation/concepts/nats-req-rep/) describe the following:

`NATS supports two flavors of request reply messaging: point-to-point or one-to-many. Point-to-point involves the fastest or first to respond. In a one-to-many exchange, you set a limit on the number of responses the requestor may r

[2017-04-30 18:42] derekcollison commented on #287
The server can be configured to only receive a certain number of responses on any subscription. Once the limit is reached the subscription from the server side will be invalid.

Any aggregation would need to be done in the client since NATS does not have an understanding of message contents.

[2017-04-30 18:42] #287 closed

[2017-05-01 02:53] davisford commented on #287
Hi @derekcollison thanks for the quick reply.  I get the part of about the aggregation and not peeking into message content, but can you point me to the part that describes how to set the server up for receiving a finite number of responses on a particular subscription?  Is this configurable by the client at all when they set up the subscription?

[2017-05-01 14:49] kozlovic commented on #287
@davisford This is all done in the client. To summarize, if you use `Request()`, the API is internally creating a subscription on an inbox and auto-unsubscribing after 1 reply is received. The API then returns you the single reply or a timeout if none is received.
If you want many replies, you need to do this steps on your own, that is, create a subscription (on Inbox or anything you like), call `

[2017-05-03 07:47] joeblew99 commented on #221
This would help me alot. I have various transports on top of Nats and they all use the context to enable cancellations.
So if NATS also supports it the cancellation will propose.
Main use case for me is IOT and mobile where connections are often killed in flight

Really amazing product btw - solved many tough sticky issues for me

[2017-05-11 14:28] davisford opened #288 "Question on Reconnect / Failure logic"
I understand how the reconnect logic works (I think), and I've tested it myself with a local cluster -- taking down gnatsd instances intermittently with reconnection logic.

What I'm wondering is if I need to re-initialize any subscriptions I've setup after the reconnect handler is triggered, or if those subscriptions will continue to operate once the connection is re-established?  I'm not so conc

[2017-05-11 14:48] kozlovic commented on #288
@davisford No, you don't need to recreate the subscriptions if the client library was able to automatically reconnect. Existing subscriptions will be resent to the server after reconnection. If your application creates subscriptions while being disconnected, the protocols go into the reconnect buffer, which, as you say, is of a finite size (and can be configured with ReconnectBufferSize). At any r

[2017-05-11 14:48] #288 closed

[2017-05-11 14:48] davisford commented on #288
Fantastic news.  Thank you for the clarification.

[2017-05-11 22:10] #221 closed

[2017-05-16 09:50] zombiecong opened #291 "Is thread-safe in "Conn.Subscribe" callback?"
Is thread-safe in "Conn.Subscribe" callback ? should I add mutex protecting the global variable in the callback?

[2017-05-16 13:23] derekcollison commented on #291
Subscriptions, asynchronous ones, run in their own Go routine. If you are only accessing via the callback you should be fine, but a RWMutex, Mutex or Atomic may be required. Running tests with --race will giv you good information as well.

[2017-05-16 13:23] #291 closed

[2017-05-17 02:50] zombiecong commented on #291
thx

[2017-05-22 06:46] zombiecong opened #293 "Request/Reply timeout error"
I send a request from a client to the other. I get a "timeout" error , but the message is not missing.

Request side code:
[code]
Reply
[code]

 gnatsd Server Log
[code]

[2017-05-22 09:22] zombiecong commented on #293
BTW: The server config

[code]

[2017-05-22 15:04] kozlovic commented on #293
`Request()` is returning the response, I don't see that in your example, and also you are printing "message" and not response. Could you clarify a bit more?

[2017-05-23 05:43] zombiecong commented on #293
@kozlovic sry, I use `EncodedConn.Request` method to send request. And  because it comes the error, there is no response. So I only print the origin  message I sent and the error.

[2017-05-23 07:25] #293 closed

[2017-05-23 21:47] derekcollison opened #294 "Requests are too protocol chatty, should be optimized."
Every request forms a new INBOX subscription for each request and then tears them down. Since NATS has to flood the interest graph to clusters and possible future bridged clusters, this should be redesigned to reuse a single subscription but still be semantically be the same from a client perspective. One word of caution is that we use the circuit breaker pattern such that the server auto-unsubscr

[2017-05-30 11:14] markuslindenberg opened #296 "No reconnect after receiving error from server"
I ran into this problem when the client tries to subscribe to an invalid subject using an EncodedConn:

[code]

`err` is `nil`, but the server will reply with
[code]

## Result

The connection is closed and the DisconnectHandler is triggered. The client does not try to reconnect.

## Expected result

I would expect the client to either not disconnect because a single subscribe failed or immediatel

[2017-05-30 16:06] kozlovic commented on #294
Resolved with #295

[2017-05-30 16:06] #294 closed

[2017-06-01 19:35] kekoav commented on #195
I would also like to see retries on `Connect()` to allow for some intermittent network failures to not fail the whole system(or have to implement my own retry logic on background). There is already support for "Reconnect" when servers become unreachable. This is configured through the options `MaxReconnect`, `ReconnectWait`, `ReconnectedCB` and `Timeout`.

The reconnection logic appears to work we

[2017-06-02 12:35] Corni opened #298 "go get broken?"
Hi,

when executing
go get github.com/nats-io/go-nats

I get the error
gopath/src/github.com/nats-io/go-nats/nats.go:25:2: no buildable Go source files in gopath/src/github.com/nats-io/go-nats/util

Did I do something wrong?

root@jessie-test:/home/vagrant# go version
go version go1.3.3 linux/amd64

[2017-06-02 14:45] tylertreat commented on #298
@Corni Are you able to update your version of Go? 1.3.3 is quite old. I'm not able to reproduce with the following version:

[code]

[2017-06-02 14:54] Corni commented on #298
Thanks - this problem occured first on a travis-provided VM with go version 1.4.1, using 1.7.5 and 1.8 go get works for me as well.
I will look how to get an updated go version on the travis machine, thanks!

[2017-06-02 14:54] #298 closed

[2017-06-02 16:52] derekcollison commented on #195
Yes this is a reasonable request and could be introduced in a backward compatible way as a new option to the Connect() call.

[2017-06-15 05:31] mdevan opened #301 "v1.2.2 and nats -> go-nats rename."
Release v1.2.2 is basically broken because of the nats -> go-nats rename. The old repo ("github.com/nats-io/nats") is imported at many places in production, test and example code of v1.2.2. It is not possible to build even the examples under https://github.com/nats-io/go-nats/tree/master/examples against v1.2.2.

Commits c1c9ec3 and 6b6bf39 probably fix the problem. Is it possible to make a new re

[2017-06-21 08:56] wllenyj opened #302 "Wildcard Publisher"
[code]

[2017-06-21 14:53] tylertreat commented on #302
Wildcards are a subscribe-side mechanism, not publish-side. They allow a subscriber to match on published messages. That is to say, publishing on `task.*` simply publishes to a literal topic called `task.*` and nothing else.

To do what you want, you would probably need two subscriptions: one for the cluster and one for the individual host. Note that's essentially what you're already doing here by

[2017-06-22 02:38] wllenyj commented on #302
Thanks for you answers.
I just want to do this more easier.I think this feature is very useful.

[2017-06-22 14:16] tylertreat commented on #302
It is useful, but publishing on a wildcard is not supported, only subscribing on one.

[2017-06-26 12:58] kron4eg commented on #301
Yeah, I saw surprised to find

    vendor/github.com/nats-io/go-nats/
    vendor/github.com/nats-io/nats/

in vendor directory o_O

[2017-06-27 21:53] kozlovic commented on #302
As @tylertreat said, you simply need to have 2 subscriptions `nc.Subscribe("task.all", ...)` and `nc.Subscribe("task.hostnameA", ...)` on server A (same for server B) and then publish on either `task.all` for all servers or `task.hostnameA` for server A.

[2017-06-27 21:53] #302 closed

[2017-06-27 21:56] kozlovic commented on #301
@mdevan We are definitively due for a release ;-) Hopefully, we will do that very soon. We have added new APIs and fixed some defects, so it will likely be a `1.3.0` release version. I will let you know asap.

@kron4eg Not sure which vendor directory you are referring to here?

[2017-06-28 07:56] kron4eg commented on #301
@kozlovic oh it was vendor from my project, that was rendered by `dep`. In my code I've imported "github.com/nats-io/go-nats" and run `dep`, it picked up latest available release and in that release "github.com/nats-io/nats" imports are also used, so I end up with two versions of nats :D

[2017-07-05 16:40] kozlovic commented on #296
In NATS, most of operations are asynchronous. For instance, even the `Subscribe()` call is sending a protocol to the server, but not synchronously receiving a response from the server. This call may still return an error (say the connection is closed, etc..). The server is sending this error asynchronously.

When the connection is closed, and disconnect or closed handler is invoked, you could call

[2017-07-05 17:42] gitchander opened #303 "Messages are published but do not reach"
If I publish message for absend subscriber there is no error. I close Publisher.
After run subscriber nothing receiveing.
Comment please.

[2017-07-05 17:45] kozlovic commented on #303
NATS does not have persistence. So this is normal. If you want persistence, you can have a look at something like NATS Streaming: [server](https://github.com/nats-io/nats-streaming-server) and [go client](https://github.com/nats-io/go-nats-streaming)

[2017-07-05 17:45] #303 closed

[2017-07-05 17:50] gitchander commented on #303
Thanks!
I'll take a look

[2017-07-07 09:30] markuslindenberg commented on #296
OK, I see.

I'm facing this problem in a small REST<->NATS gateway I implemented for my application. It allows legacy services some limited interaction with NATS using HTTP, like broadcasting to a given subject. I'd rather have the gateway not be disconnected from NATS for avoidable errors like 'Invalid Subject'.

I guess 'Invalid Subject' is a (or the only?) server error that is entirely predicta

[2017-07-11 15:38] kozlovic commented on #296
@markuslindenberg We could potentially, but the server is already doing the check. It may not make sense to copy the check code in all clients. You have to ask yourself: what your application would do differently if it got an `Invalid Subject` error when calling `Subscribe()`? It is likely a configuration error and the application will probably have to stop, right? (it can't simply ignore). That's

[2017-07-12 15:53] kozlovic commented on #296
@markuslindenberg Alternatively, you could, after the `Subscribe()` call, issue a call to `Conn.Flush()`. This sends a PING to the server and waits for a PONG. Since this is the same tcp connection, it guarantees that the SUB protocol message will be processed by the server and if the server sent an error back, it would be before the PONG. Therefore, after the `Flush()` call, you could then check

[2017-07-13 07:16] markuslindenberg commented on #296
The problem is that still the nats client will disconnect. I don't have the problem in most of my microservices because, as you said, an invalid subject is a configuration/implementation error. But in this special case I'm running a RESTful service that does requests to arbitrary subjects on behalf of other services, so the service is not in control of the subject and I'm multiplexing lots of (cha

[2017-07-13 07:17] markuslindenberg commented on #296
@kozlovic Thanks for your insights, very helpful and very much appreciated. :)

[2017-07-17 14:44] ripienaar opened #306 "Connect callback"
We have various callbacks for error conditions but none for happy path.

I'd love to log to my clients which server they are connected to whenever a connection is established and cannot see a way to do that.

[2017-07-17 15:10] mdevan commented on #306
Not a contributor, just curious! My understanding is that even if there were callbacks, the server wouldn't be able to send unsolicited messages to the client -- the client does not have a "default inbox" to receive the messages.

[2017-07-17 15:15] kozlovic commented on #306
Although lots of APIs are asynchronous, `Connect()` is synchronous in Go client. So if the `Connect()` calls returns without error, then you can get the URL you are connected to with `ConnectedUrl()`. For reconnect, you can setup a (reconnected) callback.

[2017-07-17 16:13] ripienaar commented on #306
Thanks. I had not realised it's synchronous - I should probably do that in a Go routine then because I would not want to wait forever should it not be able to connect

Thanks. Happy to use that feature. Will close this.

[2017-07-17 16:13] #306 closed

[2017-07-17 16:15] kozlovic commented on #306
Actually, you will not wait for ever, since as of now, the client will try to connect to each of the given URLs, and at most wait for `Options.Timeout` on each connect. On non Windows system, a connect to a non running server will fail immediately, so you are not likely to wait at all if no server in the pool is running.

[2017-07-17 17:08] ripienaar commented on #306
And if they are all down? Start from the top? Down might mean unreachabke so each will wait max timeout or quite a while

[2017-07-17 17:12] kozlovic commented on #306
Again, on non Windows systems, the low level connect() will usually fail right away. But if you chose to run `Connect()` in a go routine, then you would obviously need to synchronize your other calls to publish/subscribe so that they are not done before the connect succeeds.

[2017-07-17 17:18] ripienaar commented on #306
I will test thanks. TCP Timeout is unavoidable you can't fail immediately for machines that do not answer a SYN with anything.

[2017-07-18 07:35] ripienaar commented on #306
this will take timeout * nservers to return, its not possible to be immediate in the face of no responses.  It will cycle through the servers once and then not do any retry logic once failed.

During initial setup errors are not logged or callbacks called so its impossible to give users feedback on why it's not connecting.

For instance to figure out why it was failing immediately for me when I th

[2017-07-19 07:48] ripienaar opened #307 "Connect error visibility"
The client hides a number of early errors from the user, take the code here:

<details>
<summary>Client with obvious errors</summary>

[code]
</details>

Here I have a client with obvious errors - no ports on the URLs, this produce simply `WARN[0000] Connection failed nats: no servers available for connection` and no callbacks are called.

In reality the error is detected but squashed here https:/

[2017-07-19 16:52] kozlovic commented on #307
@ripienaar Yes, I believe that at like 1066, we should set `returnedErr = err`. This would solve the problem where if the last connect to be tried has an error different from `connection refused`, then we would return the specific error instead of `ErrNoServers`.

The problem I have with the usage of a callback here, is that the NATS connection object from a user perspective is not yet created. So

[2017-07-19 17:01] ripienaar commented on #307
To me I think if the user pass it - ie. its optional - synchronous is fine, this early on in the life cycle it's effectively all synchronous anyway and subject to all manner of blockages.

So it seems reasonable to me to have a very simple interface that can be used to extract that errors.  I do think it's important to be able to get every error as the loop cycles the candidates and also as indica

[2017-07-19 17:04] kozlovic commented on #307
Can you comment on the prototype of such callback? Again, I think that passing the connection is not an option. Would the error just be enough? What about the idea of being able to cancel the connect loop? Is that an overkill?

[2017-07-20 08:19] ripienaar commented on #307
If we can't pass the connection then I guess we don't have pretty options

  * `func(message string, current_server string, err error)` here err can be nil for the happy path
  * `func(type int, current_server string, err error)` here type is a constant indicating the type of event - success, fail, attempting etc.  I imagine if there's some catastrophic error thats not server specific `current_ser

[2017-07-31 19:35] #271 closed

[2017-08-01 13:39] tylerrinnan-wf opened #310 "Retry on initial connect"
The go-nats client attempts to connect to each url in a server pool only once. For those that are running a NATS cluster behind a DNS/ELB, this can mean there is only one network address configured for the cluster. If the connect attempt fails due to a transient network failure/routed to a bad container, the client will not retry the attempt and gives up with an error.

## **Current behavior**:
ht

[2017-08-01 14:34] tylertreat commented on #310
I think we've determined this is something we want to do but haven't yet prioritized the work. There is further discussion about this [here](https://github.com/nats-io/go-nats/issues/195). The thought is this could be introduced in a backward compatible way as a new option to the `Connect()` call. We would probably want to determine what that would look like.

[2017-08-01 15:09] kozlovic commented on #310
To be consistent with the retry logic, we could introduce a `MaxConnect` option and `MaxConnects()` function to set the option, or depart from that and have `ConnectRetries` for option and function.
Regardless of the naming, as think introducing an option and keep the current behavior is the way to go.

[2017-08-01 15:10] kozlovic commented on #296
Closing this issue since we agreed that no change would help here and that it is best for the user to do a flush and check `LastError()` to ensure that there was not an invalid subject.

[2017-08-01 15:10] #296 closed

[2017-08-02 15:25] ColinSullivan1 commented on #310
+1 for introducing a new option; current behavior shouldn't change.  IMO being congruent with the retry option with `MaxConnect` would be cleanest.

[2017-08-02 16:43] ColinSullivan1 commented on #270
This issue will be tracked in nats-io/gnatsd#453.

[2017-08-02 16:43] #270 closed

[2017-08-02 17:28] ColinSullivan1 commented on #169
Closing this as part of housekeeping.  Since this issue was created, [conn.RequestWithContext](https://godoc.org/github.com/nats-io/go-nats#Conn.RequestWithContext) has been added which could be useful here.

[2017-08-02 17:28] #169 closed

[2017-08-07 16:19] eicca commented on #301
I can second the problem.
By default https://github.com/golang/dep will vendor the latest release `1.2.2` which has (had) the problem importing `github.com/nats-io/nats/`. Because of this `dep` will also vendor old version of the library. And because of this `goimports` will be confused about the importing the library :)

It would be great if you can release a new version of `go-nats` in near futu

[2017-08-07 19:51] aricart opened #311 "Panic on nats-pub"
Got a crasher here - in the scenario I was changing server permissions, and using the client to publish a message. Filing an issue so that we have a look and not loose the panic.

[code]

[2017-08-07 19:59] kozlovic commented on #311
Please recompile with a more recent version that Go (trace shows 1.6.2) and see if you can reproduce.

[2017-08-07 20:09] aricart commented on #311
I cannot reproduce it with a current build.

[2017-08-07 20:09] #311 closed

[2017-08-09 17:04] ColinSullivan1 commented on #310
This issue should resolve #195.

[2017-08-10 20:50] kozlovic commented on #301
We have released v1.3.0! https://github.com/nats-io/go-nats/releases/tag/v1.3.0
Hope this fixes dep issues. Thanks!

[2017-08-10 20:50] #301 closed

[2017-08-18 14:30] petemiron opened #314 "Remove gnatsd dependency"
`gnatsd` is included as a dependency because of `test.go` exported functions.

Remove the dependency to eliminate any circular dependencies on the go-nats library.

[2017-08-18 18:11] #314 closed

[2017-08-19 19:35] sarbash opened #316 "BUG: a Client can't authorize by a token"
I've tried a client authorization by token and always get the error:

[code]

The code is as follows:

[code]

[2017-08-19 19:39] sarbash commented on #316
In addition to the above:

Inter-servers connection by a token works just fine.

[2017-08-19 20:32] sarbash commented on #316
Sorry, it seems that I can't authorize anyhow. I should investigate it deeper.

[2017-08-19 21:41] tylertreat commented on #316
Can you post your server config?

[2017-08-19 21:42] sarbash commented on #316
My further inquiry of this issue revealed that a client may not authorize by token or bcrypt password.
I've tried all possible combinations and user/passwd connect only was successful.
I've used util/mkpasswd.go utility to generate token.

[2017-08-19 21:45] sarbash commented on #316
My config:

[code]

[2017-08-19 21:52] tylertreat commented on #316
It looks like you're passing the bcrypt hash as the token. You should use the password. I've verified the same config works on my machine.

[2017-08-19 22:05] sarbash commented on #316
Thank you for the clarification.
But, what's about this: [Securing NATS](https://github.com/nats-io/gnatsd#securing-nats)?
And this:

[2017-08-19 22:11] tylertreat commented on #316
Yes, the bcrypt hash goes in the `token` config, but the associated password is used to connect. Can you verify that works?

[2017-08-19 22:41] sarbash commented on #316
I'v e tested with both pass+token in config:
[code]
Now, I leave the token in config and wil try to authenticate using the password.

[2017-08-19 22:56] sarbash commented on #316
This:
[code]
simply doesn't work.

Wrong doc?

Only user/password authentication for clients is working.

[2017-08-19 23:21] tylertreat commented on #316
The following configuration works for me with nats-server version 1.0.0:

[code]

[code]

[code]

[code]

[2017-08-19 23:22] sarbash commented on #316
I'm gonna crazy...
I set a token in server's config.
Then I set an associated password with that token in a client.
Then I used the password as 'Token' param in a client.
Then It Works!
But how and why? Shouldn't I use the same token in a client and in a server?
Where in the docs is it described?
This completely confused me.

[2017-08-19 23:29] sarbash commented on #316
Using a generated "pass" as a 'token' in a client is confusing a bit.
Now I get it.
@tylertreat  Thank you very much for the help and the explanation.

[2017-08-19 23:47] tylertreat commented on #316
Glad you got it working! Feel free to make a PR to any documentation you find unclear. Closing this issue for now.

[2017-08-19 23:47] #316 closed

[2017-08-29 07:10] zombiecong opened #317 "publish with "\n" causing connection close"
client code :
[code]

Server log ：
[code]

No error is returned in client , and the server error make the  connection of  the client closed.

[2017-08-29 14:29] tylertreat commented on #317
`\n` is an invalid subject. When the server receives an invalid protocol message, it disconnects the client.

[2017-08-30 07:19] gitchander opened #318 "message receiving"
When the publisher send (Publish) a message (when subscriber is not connected) function Publish return nil. The message is lost, but we do not know that it was not received.
How can I make sure that the "Subscriber" received the message?

[2017-08-30 14:51] tylertreat commented on #318
You are correct in that NATS is at-most-once delivery, so there are no delivery guarantees. What you typically do is layer on the guarantees your application needs. For example, if you need to guarantee delivery of a message, you could have the receiver send an acknowledgement back to the sender indicating they received and processed it. There is a convenience function called [Request](https://god

[2017-08-30 15:09] tylertreat commented on #318
Closing this for now. Feel free to reopen if you have further questions.

[2017-08-30 15:09] #318 closed

[2017-08-30 15:10] tylertreat commented on #317
Closing this for now. Feel free to reopen if you have further questions.

[2017-08-30 15:10] #317 closed

[2017-08-31 16:17] ColinSullivan1 commented on #90
Closing this issue until we get an external request or internal requirement.

[2017-08-31 16:17] #90 closed

[2017-09-20 15:50] GlennMatthysECrane commented on #310
#195 and #310 should be merged as they are the same thing.

[2017-09-20 16:01] tylertreat commented on #310
I've closed this issue as it is a duplicate of #195. Please follow discussion there.

[2017-09-20 16:01] #310 closed

[2017-10-13 18:20] kozlovic opened #321 "Flush[Timeout]() may always return "nats: timeout" and connection stops dispatching"
There is a race that could cause calls to `Conn.Flush()` and/or `Conn.FlushTimeout()` to always
return `nats.Timeout` error and make the connection stop dispatching incoming messages
and protocols, causing the server to break the connection as a Slow Consumer.

[2017-10-13 18:27] kozlovic commented on #321
Was closed with an inadvertent push to master instead of branch. PR coming.

[2017-10-18 12:46] nussjustin opened #323 "Add a way to directly reply to a message from within a handler"
Currently [MsgHandler](https://godoc.org/github.com/nats-io/go-nats#MsgHandler)'s need to manually keep a reference to the [Conn](https://godoc.org/github.com/nats-io/go-nats#Conn) a message was received on (e.g. by closing over it using a closure or through a struct for handler methods) if they want to send a reply, since the [Msg](https://godoc.org/github.com/nats-io/go-nats#Msg) struct exposes

[2017-10-20 22:30] kozlovic opened #325 "ErrorHandler not always reporting proper error"
Say that your application has no permission to publish and subscribe on foo.
[code]
These 2 calls should result in getting permission violation errors presented
to the ErrorHandler, one for the subscribe, one for the publish.
However, the error handler will be invoked with 2 errors corresponding
to the publish permission error. If the application was doing a publish
then a subscribe, the error cal

[2017-10-20 22:58] #325 closed

[2017-10-20 23:19] #321 closed

[2017-10-30 09:06] rafw opened #328 "How to get cached size of specify queue name in nats server?"
I want to get message size which didn't be consumed yet. Thanks.

[2017-10-30 14:38] tylertreat commented on #328
The NATS server ([gnatsd](https://github.com/nats-io/gnatsd)) does not store messages, so if consumers are offline when messages are published, they will not be received. For at-least-once delivery, see [NATS Streaming](https://github.com/nats-io/nats-streaming-server).

[2017-10-31 02:06] rafw commented on #328
I am confused.

Now the question is:

If consumers are all using nc.QueueSubscribeSync() to consume message. Where does the published messages cached? Producer process or nats-server?

[2017-10-31 06:33] nussjustin commented on #328
It depends on your client library, how you configure it and how you subscribe to a topic.

NATS at its core is a fire-and-forget style system. Neither the NATS server (gnatsd) nor the publishers do any buffering of messages.

If you publish a message but there are no subscribers for the topic the message will be dropped. If there are subscribers for the topic the server will try to deliver the mes

[2017-10-31 07:03] #328 closed

[2017-11-03 08:37] joyhope opened #329 "question about customize dialer"
Dialer option

func Dialer(dialer *net.Dialer) Option {
	return func(o *Options) error {
		o.Dialer = dialer
		return nil
	}
}

It required net.Dialer structure.  It is not an interface.  I like to provide the customized dialer, eg. proxy .

The dial is used as
...
	dialer := nc.Opts.Dialer
	nc.conn, err = dialer.Dial("tcp", nc.url.Host)
	if err != nil {
		return err
	}

It called dialer.Dial func

[2017-11-04 10:13] valichek opened #330 "permissions violation on subscribe and client reconnect issues"
First issue - there are no err returned from `nc.QueueSubscribeSync` or `nc.SubscribeSync` when getting permissions violation on subscription, I can catch it only with `nc.SetErrorHandler`

Second issue - when server connection is broken after `permissions violation` on subscription and client will reconnect it will try to subscribe on violated subscription. The reason is that client doesn't remov

[2017-11-06 10:02] valichek opened #331 "Feature request: add hook to change _INBOX.* topic on Request"
We would like introduce some kind of namespaces for _INBOX.* Some clients should not be able to subscribe on system _INBOX messages like `_INBOX.SYSTEM.*`. It's possible only for old request implementation, but having a hook to replace `_INBOX` with `_INBOX.NAMESPACE` would be very useful.

[2017-11-06 15:20] tylertreat commented on #331
Is there a reason you can't prefix the inbox with the namespace? E.g. `NAMESPACE._INBOX.*`.

[2017-11-06 15:53] kozlovic commented on #330
This is the way the protocol was designed. Most communication with the NATS Server is asynchronous. Creating the subscription will not return an error in place (unless connection is already closed for instance).

As you could see, you would receive a notification through the async callback. Another way can be to follow the subscribe call with a `nc.Flush()` so that the `nc.LastError()` is updated

[2017-11-06 15:53] #330 closed

[2017-11-06 16:39] valichek commented on #331
@tylertreat no way check here https://github.com/nats-io/go-nats/blob/master/nats.go#L2048 and here https://github.com/nats-io/go-nats/blob/master/nats.go#L2123-L2130

[2017-11-06 16:51] tylertreat commented on #331
I see now. Yes, it is probably reasonable to expose an optional hook for customizing the inbox used in `Request`. Thoughts @kozlovic?

[2017-11-06 17:06] valichek commented on #330
Yes, it's clear about async. But if server includes subscription name caused the error it would be possible to identify it. Or should I create the issue for the server?

[2017-11-06 17:13] kozlovic commented on #330
Server would need to send that info for the client to be able to remove. I don't think there are plans to modify the protocol at this point though.

[2017-11-06 17:22] kozlovic commented on #331
I am not sure this is necessary. Request() is a convenience method. You are free to use your own reply subject and to a PublishRequest() on it and then do a NextMsg(). In other words, you could easily implement the Request() function to suit your needs.

[2017-11-06 17:34] valichek commented on #330
@kozlovic I just checked that server adds the subscription subject to the error. So no problem here.

[2017-11-06 17:41] kozlovic commented on #330
subject is not enough. There would be a need for subscription id because an application could easily have several subscriptions on the same subject (granted that permission would then be probably cause error for all of them - unless changes are made dynamically on the server).

[2017-11-06 17:46] kozlovic commented on #330
@valichek The point is that you either do not want your application to proceed if there was a permission violation when creating it (either you fatal on async error callback or use the Flush() approach), or you don't mind and in this case it should not matter that the subscription is resent on reconnect (and failed again, or possibly not if the permission is changed in the server).

[2017-11-06 17:53] valichek commented on #331
Sure it's possible to re-implement Request just copy-pasting 100% of related code, but again having the hook would be very helpful. I would make PR if accepted

[2017-11-14 13:13] ynkumar143 opened #332 "Unsubscribing from Subscriptions list based on Sid"
I need to unsubscribe from list of subscriptions with the same topic based on ssid of subscription made. Similar functionality done by node-nats but not with go-nats.

[2017-11-14 16:11] kozlovic commented on #332
Not sure what you mean here. In Node.js, the returned object when creating a subscription is an id, but in Go, you have a Subscription object returned, which you then would use to `Unsubscribe()`.

For instance create a subscription calling this: https://github.com/nats-io/go-nats/blob/master/nats.go#L2154
Then you can unsubscribe calling this: https://github.com/nats-io/go-nats/blob/master/nats.g

[2017-11-14 22:36] ColinSullivan1 commented on #331
@valichek ,  Thank you for raising this issue.  As there is a solid workaround (albeit with copy-paste), and we prefer to keep the NATS API small and simple, we're closing this issue for now.  If there is additional interest from the community, we can certainly re-open it.

[2017-11-14 22:36] #331 closed

[2017-11-14 23:47] ColinSullivan1 commented on #323
@nussjustin , Thank you for raising this issue.  While this is a good idea, one of the tenets of NATS is simplicity, and to that end we are very hesitant to add new APIs.  Since there is a workaround (as you mentioned by closing over it, or via struct), we're closing this for now.  One option could be to expose make the the connection in the subscription; we'll think about this further.

[2017-11-15 07:09] ynkumar143 commented on #332
Can you please at this program where i created a use case for the scenario i am explaining.
https://github.com/ynkumar143/Go_Practice/blob/master/Unsub_Case.go

The output of this program is below.

However, I achieved to unsubscribe from Topic of first subscription. But this is indirect and I am sending some message information that is occupying bytes in my channel connection. I am thinking for a

[2017-11-15 16:07] kozlovic commented on #332
@ynkumar143 I have reviewed your test program and I am not clear of few things:
- Is it a requirement to have a message published so that you unsubscribe from the message callback? If not, when subscribing, keep a reference to the subscription (right now you are not saving it) and use that to unsubscribe from any place in your code.
- If you need to send an "unsubscribe" message on the subject, an

[2017-11-16 05:50] ynkumar143 commented on #332
@kozlovic It is not requirement to send "Unsubscribe" in publish message. I am trying to use only NATS package without storing information. I have tried 1st Option to save the subscription details for every subscription(Used Map Data structure). But the point is, why I need to use memory to store them when NATS is already storing that information. (My Subscriptions list is more and expectation of

[2017-11-16 16:17] kozlovic commented on #332
@ynkumar143 What is not clear, is how you decide in your application which subscription to unsubscribe?

If it is based on some information that you got when creating it, you would still need to keep some sort of binding between the information that caused your application to create the subscription and the subscription itself. For instance, with your example code, I would simply keep a reference

[2017-11-17 09:05] ynkumar143 commented on #332
@kozlovic I written a program which is saving subscription information reference and using it to unsubscribe from anywhere in program. This can be seen in below program.

1st Case: https://github.com/ynkumar143/Golang/blob/master/Unsub_Save_Subscription.go

But the solution i was trying to explain is written in below program. I thought Instead of saving subscription information references we can s

[2017-11-17 15:20] kozlovic commented on #332
Because the `Unsubscribe()` is a receiver of the `Subscription` object. Once you create a subscription (from the connection), all subscription related functions are tied to that subscription. This is object oriented model.
In order to have a `Conn.UnsubscribeWithSID()` as you suggest, we would also need to expose the subscription ID. But again, I see no value since in any case you would have to st

[2017-11-17 15:20] #332 closed

[2017-11-22 20:56] ripienaar opened #333 "consider calling nc.Flush() in nc.Close()"
It appears that calling `Close()` doesn't flush the pending messages before closing.

It's debatable if this is desired but for me the expectation was that `Close()` would ensure any pending data is sent (within the flush timeout).

Specifically calling `Flush()` resolved it for me reliably.

[2017-11-27 21:50] ColinSullivan1 commented on #333
@ripienaar, thank you for the suggestion, this makes sense.  I'd think you'd want to check the connection status, then if OK flush with a reasonable timeout (if there's an error condition, the flush may block).

Would you like to submit a PR?

[2017-11-27 21:58] kozlovic commented on #329
@joyhope Could you share how/why you would be replacing a `net.Dialer` with? As I explained, we cannot simply replace the `Options.Dialer *net.Dialer` with a `CustomDialer` (that would be an interface) because it would break applications that reference `nc.Opts.Dialer` assuming that this is a `*net.Dialer`.
It means that we would need to add yet a new field in `Options` (and setter function) for s

[2017-11-28 04:24] mdevan commented on #329
Not the OP, but have the same request.

Connecting to a NATS server over an SSH tunnel is a use case from my side. Application establishes an SSH connection to a server where gnatsd is running, and has a `*ssh.Client` object that provides the same `Dial(network, address string) (net.Conn, error)` method, but can't be passed to NATS. (And using TLS-based gnatsd connection is not a sufficient replac

[2017-11-28 07:47] ripienaar commented on #333
Thanks - I am a bit snowed under atm for making a patch, race against the change freeze :)

Appears Flush() already has a 60 second timeout: https://github.com/nats-io/go-nats/blob/f0d9c5988d4c2a17ad466fcdffe010165c46434e/nats.go#L2701

And the FlushTimeout() already checks the connection https://github.com/nats-io/go-nats/blob/f0d9c5988d4c2a17ad466fcdffe010165c46434e/nats.go#L2670

So I suspect t

[2017-11-28 16:08] kozlovic commented on #329
We cannot break it. The other way is for us to add a new option/setter in order for users to pass a custom dialer and leave the current `Options.Dialer` and `nats.Dialer()` the way they are. We could mark them as "deprecated", but the reality is that we will likely never remove them (or maybe if/when we bump the version to `2.0.0`.

[2017-11-28 17:54] tylertreat commented on #333
I took a look at this and it's actually a bit more involved due to the locking involved. You could do the `Flush` before calling `close` inside of `Close`, but each of these internal calls would be locking separately, so if you have concurrent publishes going on, they might not get flushed properly.

[2017-12-15 17:38] johanbrandhorst opened #335 "CloneTLSConfig does not perform a complete copy in Go 1.8+"
Since Go 1.8 `tls.Config` has a field called `GetClientCertificate`. The existing methods for cloning `tls.Configs` in the NATS codebase do not copy this field. Indeed, it should be deferring to  `conf.Clone()` in Go 1.8+ environments.

Related issues:
https://github.com/golang/go/issues/19264
https://github.com/gorilla/websocket/issues/215

[2017-12-15 17:42] kozlovic commented on #335
Yes, I added a note in the codebase that this was temporary until a Clone() function was exported. We will need to update go client and gnatsd for Go 1.8+.

[2017-12-15 17:49] johanbrandhorst commented on #335
I created a PR for this.

[2017-12-15 19:58] #335 closed

[2017-12-20 17:16] #329 closed

[2018-01-08 13:20] anastop opened #337 "Conditions for Publish"
Hi,

I am wondering which are the conditions for `Publish` to properly deliver a message to subscribers listening on the same topic. Based on a few experiments, I observe that delivery may succeed or not depending on what follows after the call to `Publish`.

To be more clear, I am experimenting with the basic example below:

[code]

[code]

In the above code, if I omit `nc.Close()` at the end of

[2018-01-08 15:49] kozlovic commented on #337
@anastop Most of NATS API are asynchronous. Publish() is no different. This call is adding the content to a buffer that is flushed asynchronously (it is possible that the buffer is flushed during the call if the content does not fit, etc..). So what is happening is that your application exits abruptly and therefore the routine flushing the connection buffer has not a chance to execute.
You should

[2018-01-08 15:49] #337 closed

[2018-01-09 08:00] anastop commented on #337
thanks! this is pretty clear now.

[2018-01-25 16:15] ripienaar opened #339 "create a Option to set ReconnectBufSize"
it's annoying to set this now as no Option helper exist

[2018-01-25 16:17] ripienaar commented on #339
https://github.com/nats-io/go-nats/pull/340

[2018-02-18 04:14] kozlovic commented on #339
Closed with PR #340

[2018-02-18 04:14] #339 closed

[2018-02-20 10:13] owey0312 opened #343 "HELP: Error reading from client: processSub Parse Error: '1'"
hello,
   when i use go-nats connect to gnats server of the newest version v1.0.4, and subscribe a subject, the connection likely to be closed by server. i get those error below.
   code demo:
       nc, err := nats.Connect(connStr)
	if IsFailed(err) {
		return err
	}

	this.conn, err = nats.NewEncodedConn(nc, nats.JSON_ENCODER)

       s, err := this.conn.Subscribe(this.svcName, cb)
	if IsFailed(

[2018-02-20 16:47] derekcollison commented on #343
What is this.svcName? Is it an empty string?

[2018-02-20 17:17] kozlovic commented on #343
@owey0312 As Derek mentioned, the `SUB` protocol is `SUB <subject> <reply> <sid>`. From the server output we see that the server received a request to subscribe without any subject. It would seem that your `this.svcName` variable is sometimes empty.

[2018-02-27 21:30] kozlovic commented on #343
@owey0312 Any update on this? Should we close the issue?

[2018-03-01 16:28] kozlovic commented on #343
Closing for now.. will re-open if you still have issues.

[2018-03-01 16:28] #343 closed

[2018-03-04 16:24] nussjustin opened #345 "Synchronous Barrier call holds conn mutex"
When [`Barrier`](https://godoc.org/github.com/nats-io/go-nats#Conn.Barrier) is called with no active asynchronous subscriptions, the call will be made synchronously with both `nc.mu` and `nc.subsMu` held. Calling any other method on the [`Conn`](https://godoc.org/github.com/nats-io/go-nats#Conn) in the callback will than block the whole connection.

E.g. calling

[code]

will block since the callb

[2018-03-04 17:26] kozlovic commented on #345
@nussjustin Thanks again for an excellent report (and catch!). I had originally started `f` as a go-routine but decided at the last minute that there was no need really. However, you are right, in this case I should have released the locks. The PR #346 addresses that. Thanks!

[2018-03-05 00:35] #345 closed

[2018-03-14 02:22] nxtbr opened #350 "After some days running well my subscription goes down and works again only after a restart"
Hello guys,

I have 8 worldwide servers and 1 load-balacing api. Our server is a small VPS running Ubuntu. At each server we have an small service written in C# to publish an info about it's network bandwith usage in Mbps each 2.5s. So, our load-balacing, C# too, subcribe NATS and get the servers load and redirect the clients.

After some days running well the subscription is marked as slow and wo

[2018-03-14 18:12] ColinSullivan1 commented on #350
This is a duplicate of https://github.com/nats-io/csharp-nats/issues/205, so I'm closing this.

[2018-03-14 18:12] #350 closed

[2018-03-15 18:37] caniszczyk opened #351 "Migrate to Apache v2.0 License"
per requirements of the move to CNCF

[2018-03-17 11:25] wardenlym opened #353 "could i use gnatsd as a service thread in my process ?"
Hi
i trying make *gnatsd.Server run on a goroutine as one component of message bus in my app

i use server.Run() to start it like main file doing,

 but how can i stop a *gnatsd.Server safely？

[2018-03-17 11:28] ripienaar commented on #353
`server.Shutdown()` should do it.

[2018-03-17 17:04] #353 closed

[2018-03-17 20:42] derekcollison commented on #351
Resolved with #354

[2018-03-17 20:42] #351 closed

[2018-03-22 21:24] dvaldivia opened #355 "tag v1.4.0 still reports nats.Version 1.3.1"
Release 1.4.0 reports version 1.3.1 on the nats.Version variable

https://github.com/nats-io/go-nats/blob/v1.4.0/nats.go

[2018-03-23 01:09] kozlovic commented on #355
Sorry about that. I am adding a test and will make the release process more automated so that it does not happen again. We will probably release a 1.5.0 release soon (maybe tomorrow).

[2018-03-23 17:02] kozlovic commented on #355
We released 1.5.0 today (https://github.com/nats-io/go-nats/releases/tag/v1.5.0). We added a test and if we do the release by pushing a new tag (and not directly create it in GH), then that should not happen again.
Thanks!

[2018-03-23 17:02] #355 closed

[2018-03-23 17:09] dvaldivia commented on #355
Thanks! Great job!

[2018-03-29 13:48] karpovicham opened #359 "Create set PingInterval helper function"
These are lots of helper functions to set connection options (which is great), but not for `PingInterval`
https://github.com/nats-io/go-nats/blob/master/nats.go#L202

Could we please have such function for this option as well, i.e.:
[code]

Something similar to `ReconnectWait` function:
https://github.com/nats-io/go-nats/blob/master/nats.go#L534

Thanks.

[2018-03-29 14:15] derekcollison commented on #359
Feel free to submit a PR with tests etc. Otherwise we will leave this open and get to it as appropriate.

[2018-03-31 15:25] nuhamind2 commented on #331
I am interested in this feature, coupled with subject level authorization, a simple _multi tenancy_ can be implemented.

[2018-03-31 18:06] derekcollison commented on #331
Multi-tenancy is coming soon in the form of accounts.

[2018-03-31 19:16] derekcollison commented on #359
Resolved via #361

[2018-03-31 19:16] #359 closed

[2018-05-03 06:27] baba2k opened #363 "Integer variable number format unmarshal error"
I use go-nats lib on server and client side to sendening int numbers via JSON over nats. I got sometimes (e.g 1475043 -> 1.474043e+06)  from a JSON in number format e+00. It is a valid number JSON representation but get an unmarshal error.

json: cannot unmarshal number 1.474043e+06 into Go struct field Transaction.amount of type int

What's my fault or is it a bug?

Thanks a lot!

[2018-05-03 14:43] aricart commented on #363
From the error it looks like you are serializing a struct - if you are publishing/subscribing to the struct on the same go stack version it should work correctly. Could you create a subscriber that is not encoded that subscribes to the same subject and inspect the JSON you are getting.

Just to be clear:

a) The struct was published using an encoded connection.
b) The struct is received using an e

[2018-05-03 14:44] derekcollison commented on #363
If you would be willing to share your code we are happy to take a look.

[2018-05-29 10:35] tomponline opened #366 "Understand how go-nats uses gnatsd cluster IPs when connect to IPv6 address"
See https://github.com/nats-io/gnatsd/issues/676

I'm not sure if this is a problem with go-nats or gnatsd.

But we have an application that appears to be 'discovering' the IPv4 local address of a remote gnatsd server, even though we are not publishing it in DNS.

We are assuming this is being advertised by the gnatsd server, based on the IPs it is listening on.

[2018-05-29 12:29] tomponline commented on #366
Turns out using the "no_advertise" option in gnatsd fixed this.

[2018-05-29 12:29] #366 closed

[2018-05-30 14:09] shengery opened #367 "go-nats panic"
Versions of gnatsd and affected client libraries used:
[code]
OS/Container environment:
CentOS 6.8 64Bit bare VM

Steps or code to reproduce the issue:
gnatsd is run with single node
The go *nats.Conn is used in multiple goroutines, each of which may publish message and pushsrv subscribe 6 topics with the same connection.
When there are a lot of concurrent users login into the service , the pushsr

[2018-05-30 15:43] mjgarton opened #368 "Close() doesn't appear to free resources properly."
I noticed a memory issue with an application that periodically (every few mins) opens a nats connection, does some work and closes it again.

I reproduced the issue with the below code.

[code]

pprof heap output suggests the memory usage is due to allocations in `github.com/nats-io/go-nats.(*Conn).createConn`  which suggests (to me at least) that something is retaining a reference to the connecti

[2018-05-30 15:53] derekcollison commented on #368
Thanks will take a look.

[2018-05-30 19:31] kozlovic commented on #368
I think I found what's wrong, will update later today.

[2018-05-30 19:48] kozlovic commented on #367
I had fixed  a similar issue in 1.3.0, so I will have another look. In the meantime, could you check for me the go client details? There is no 1.3.1, and I looked at few of the releases and the line numbers don't match any.
Again, I am going to try to write a test that can reproduce, but would love some clarification on the client version you are using. Alternatively, I see that you are vendoring:

[2018-05-31 02:57] shengery commented on #367
Thanks kozlovic,
There is not a release version named 1.3.1 really in the release category. I clone the client library via ```go get``` command in the 2017, I found there is a constant in value Version in the nats.go
[code]
Later  last night when we were running stress testing on another imsrv, which is using the same copy of the nats client, there was an other panic stack info
[code]

[2018-05-31 05:30] derekcollison commented on #367
We will look into it for sure, but we do recommend using a formal release. If possible use the latest release found here: https://github.com/nats-io/go-nats/releases/tag/v1.5.0

[2018-05-31 13:34] kozlovic commented on #367
@shengery These are really strange crashes. Would you mind showing how you create the NATS connection and give us as much information as possible as how you use it? Thanks!

[2018-06-01 15:02] kozlovic commented on #367
Thanks. Need to dig more into that, but still very confused with the stack. For instance, from your original report, we see that:
[code]
Yet, you can see that from the 1.3.0 tag, this line has nothing to do with the report:
[nats.go line 1554](https://github.com/nats-io/go-nats/blob/v1.3.0/nats.go#L1554)

The line should point to something like [this](https://github.com/nats-io/go-nats/blob/v1.3.0

[2018-06-02 20:00] lemonkey commented on #316
The official documentation still needs to be updated..

[2018-06-05 03:15] shengery commented on #367
hi @kozlovic , the commit in my vendor repository should be at the commit a2b049bedd9f04e9c033655e7ad7dc8404d44aa2
I put the client library via ```go get ``` command , not directly download the release version .

[2018-06-08 03:46] shengery commented on #367
hi @kozlovic , is there any further investigation ?

[2018-06-11 15:44] kozlovic commented on #367
Sorry for the delay, I was on vacation. I may refactor a bit the code around that for a fix to #368, but not sure what the problem for this issue is since the rare panic due to waitgroup was already fixed (or at least an attempt to) in 1.3.0.
Have you had a chance to try yourself with the latest release?

[2018-06-12 06:51] shengery commented on #367
@kozlovic thanks for your reply
We are currently using the latest release version , the problem has not shown yet.

[2018-06-12 15:49] #368 closed

[2018-06-12 15:50] kozlovic commented on #368
@mjgarton Thanks for the report. I believe that we have addressed this issue in PR #370.

[2018-06-29 17:53] derekcollison opened #372 "Add support for no echo."

[2018-06-29 17:54] derekcollison opened #373 "Make plain URLs work"
Have sane defaults such that a plain URL will select a default port and transport. Adapt to the TLS as needed since server tell us via INFO.

[2018-08-07 17:35] kozlovic commented on #372
Covered with PR #375

[2018-08-07 17:35] #372 closed

[2018-08-07 17:36] kozlovic commented on #367
Closing for now.. we will re-open if you have some updates.

[2018-08-07 17:36] #367 closed

[2018-08-17 15:14] nussjustin opened #382 "Documentation of SubscribeSync contains broken example"
The documentation for SubscribeSync says

https://github.com/nats-io/go-nats/blob/17bcb829c7312dc3ddc7e364768c8522d2f2fec2/nats.go#L2435

But calling `Subscribe` with a `nil` `MsgHandler` results in `ErrBadSubscription`.

[2018-08-21 18:28] #382 closed

[2018-08-24 18:18] kozlovic commented on #373
Resolved with #381

[2018-08-24 18:18] #373 closed

[2018-08-25 23:47] wallyqs commented on #333
Think this one can be closed now that the client supports drain mode to gracefully disconnect (https://github.com/nats-io/go-nats/pull/378), it does call `Flush` and ensures pending data is processed before closing.

[2018-08-26 00:56] derekcollison commented on #333
I can take a look at this. Seems like regular close should try to send any pending data. At least give it one try.

[2018-09-06 15:28] kozlovic opened #391 "Connection's last error should be set if async error occurs during Drain"
Say that an async error occurs during the `Conn.Drain()` (such as timeout), once connection is closed, `Conn.LastError()` should return an error.

[2018-09-06 15:54] #391 closed

[2018-09-26 15:34] kozlovic opened #394 "Add API to get the CID"
Following https://github.com/nats-io/gnatsd/pull/687, need to add an API to get the client's ID from the currently connected server.

[2018-10-03 11:10] vtolstov opened #396 "grpc encoder"
As i see nats client have gob and json encoders.Why not create grpc encoder as like gob?

[2018-10-03 11:10] #396 closed

[2018-10-03 13:05] derekcollison commented on #396
We have protobuf encoders, is that what you mean?

[2018-10-03 13:07] vtolstov commented on #396
yes, i'm not find it in the docs, but after looking at the source and understand how to use it (simple import with _ )

[2018-10-03 13:09] derekcollison commented on #396
ok will look at making docs a bit better..

[2018-10-23 15:28] derekcollison opened #398 "Introduce flag to ignore server advertisements"
We should have a flag that allows us to ignore server advertisements for new servers.

[2018-11-04 05:26] PengjuDuan opened #403 "how to reply request using chan ?"
nc, _ := nats.Connect(nats.DefaultURL)
ec, _ := nats.NewEncodedConn(nc, nats.JSON_ENCODER)
defer ec.Close()

type person struct {
     Name     string
     Address  string
     Age      int
}

recvCh := make(chan *person)
ec.BindRecvChan("hello", recvCh)

sendCh := make(chan *person)
ec.BindSendChan("hello", sendCh)

me := &person{Name: "derek", Age: 22, Address: "140 New Montgomery Street"}

// S

[2018-11-04 15:17] derekcollison commented on #403
In this example the replySubject is not available since only the person struct pointer is placed on the channel. In this example you could play a reply inside the person struct, or wrap the person struct with a simple msg struct such as follows.

[code]

[2018-11-06 15:52] ekle opened #404 "NextMsgWithContext() returns ErrConnectionClosed, but underlying connection is fine."
`NextMsgWithContext()` returns a different error, depending when Unsubscribe() is called:

`ErrConnectionClosed` is returned if `NextMsgWithContext()` waits while `Unsubscribe()` is called.
`ErrBadSubscription` is returned if `Unsubscribe()` is called before `NextMsgWithContext()`.

`ErrConnectionClosed` seems wrong here, as it hint to an underlying connection problem, but instead it was just a no

[2018-11-07 03:41] PengjuDuan commented on #403
type person struct {
  Name string
  Address string
  Age int
  Subject string
  Reply string
}

in nodejs, i send one message like JSON.stringify({ name: 'jack' })

in go, i cannot get Subject and Reply by get Name correctly

[2018-11-07 03:48] derekcollison commented on #403
You would have to put the ReplySubject in the JSON for the node.js sender. The Go client encoder is only dealing with msg.Data under the covers, not the nats.Msg.

[2018-11-10 12:56] lucwillems opened #407 "Reconnect failure under high load"
i was testing/reviewing performance and stability of current java library. during this test i noticed that
in some cases, a disconnected consumer (disconnected by server because of slow consumer) was not able to reconnect because of following error :
[code]
- the receiver connection sees the disconnect, and starts the reconnect
- during reconnect we get TimeoutException , and after this , ALL reco

[2018-11-10 14:56] lucwillems commented on #407
oeps was closed unwanted

[2018-11-10 16:46] kozlovic commented on #407
Seem that you are using the Java client, you probably should have created it in that repo, no?

[2018-11-10 18:15] wallyqs commented on #407
Btw transferring issues among repos in Github is in beta now: https://help.github.com/articles/transferring-an-issue-to-another-repository/

[2018-12-07 07:50] koltsovb opened #412 "Messages are lost if I using ChanSubscribe."
If I subscribe with callback-function, all messages are received.
If I subscribe with ChanSubscribe, I receive only first message.
May be there are any client/server settings?

Example below contains 2 version of subscriptions:
[code]

[2018-12-07 13:04] derekcollison commented on #412
What are you trying to accomplish at a high level?

[2018-12-07 14:15] koltsovb commented on #412
I save messages_from_nats into DB. Sometimes it takes a lot of time

[2018-12-12 07:25] rfyiamcool opened #413 "add support for multi subcribe topic master/ backup mode ?"
I need this effect.  When multiple clients subscribe a topic by queueScribe mode，example: client1, client2 ,client3. Only client1 can receive msg, other clients are sleep, backup mode. when client1 is down, one of other clients can receive msg.

nats have a plan to do this? Or you tell me what to do.

thank you ~~~

[2018-12-13 10:10] guce opened #414 "Can the 'MaxPingsOut' parameter be specified when connecting?"
[code]

I can find the `PingInterval` configuration interface but can't find the `MaxPingsOut`

[code]

Thanks.

[2018-12-13 11:05] wallyqs commented on #414
Right functional option for `MaxPingsOut` is currently missing... as a workaround you can set it directly by using the defaults from a connection using `GetDefaultOptions()`.

[2018-12-13 13:08] derekcollison commented on #414
Thanks we will make sure to add this functionality.

[2018-12-13 13:48] #414 closed

[2018-12-14 07:53] guce opened #416 "After reconnecting, the addresses of 'nc.ConnectedUrl()' and 'nc.Opts.Servers' are different, is this correct?"
Connect to NATS
[code]

Reconnect event, print both `nc.ConnectedUrl()` and `nc.Opts.Servers`
[code]

After reconnecting, the two addresses are different
172.18.0.1 is a gateway address and NATS server address is 10.4.10.8.

Thanks.

[2018-12-14 16:35] kozlovic commented on #416
Could you please provide the server configuration? Are you running a standalone server or is it clustered? Do you stop/restart the server to cause the disconnect/reconnect? Thanks!

[2018-12-17 02:39] guce commented on #416
The server basically uses the default configuration, cluster mode.
The server has not been manually restarted, but we suspect that it may be disconnected and reconnected due to firewall reasons.

Both the server and the client are running in docker.
The server is running on machine A, using the host network, exposing port 4222.
The client runs on machine B, using the docker default network.
Machin

[2018-12-17 16:18] kozlovic commented on #416
Configuration matters. If your server does not specify a specific IP or hostname in the listen specification, the server defaults to `0.0.0.0` which is "any" interface on that machine. When in cluster mode, the server will try to advertise its address for clients in the cluster to be able to (re)connect. Therefore, the server lists all non-local IPs that it can find and send that to both servers i

[2018-12-19 01:04] guce commented on #416
Thanks a lot

| |
guce_baresi
邮箱：guce_baresi@163.com
|

Signature is customized by Netease Mail Master

On 12/18/2018 00:18, Ivan Kozlovic wrote:

Configuration matters. If your server does not specify a specific IP or hostname in the listen specification, the server defaults to 0.0.0.0 which is "any" interface on that machine. When in cluster mode, the server will try to advertise its address for

[2018-12-21 02:01] guce commented on #416
But there is still a question, if my two NATS-Streaming servers belong to different clusters, will this problem not occur?

[2018-12-21 18:21] kozlovic commented on #416
@guce Not sure I understand your question. Could you please elaborate?

[2018-12-24 03:53] guce commented on #416
What I want to make clear is, the advertise function mentioned above should be limited to the inside of a cluster? Even if the server listen `0.0.0.0`, the client will not connect to the server of another cluster.

For example:
There is a 3 nodes NATS cluster and a NATS-Streaming server, and the servers of the NATS cluster are listening at `0.0.0.0`.
If there is such a possibility, the address of

[2018-12-24 18:56] xaque208 commented on #343
I received the same error message.  In my case the topic that I'd passed was an empty string.  Correcting this has fixed the issue.

[2018-12-28 21:43] prydin commented on #174
Requesting reopening.

I encountered this when writing very aggressively to a socket through a BufferedWriter on a Linux system. I don't think this should be returning an error at all. It is perfectly OK for the underlying device driver to write only a partial chunk of data when it's running low on buffer space, for example. That's why the write()-primitive on most OSes returns a number of bytes a

[2018-12-29 18:16] kozlovic commented on #416
I think you are still confused about the relation between NATS Streaming Server and NATS Server. I would recommend that you look at https://github.com/nats-io/nats-streaming-server#concepts.

The NATS cluster will form a full mesh in which clients connected to it can communicate. The Steaming Server acts as a client and define a Streaming cluster name, which is used internally in the subject space